﻿@model TacoTicassa.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}


<div class="kt-login__forgot">
    <div class="kt-login__head">
        <h3 class="kt-login__title">Forgotten Password ?</h3>
        <div class="kt-login__desc">Enter your email to reset your password:</div>
    </div>
    <div class="kt-login__form">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal kt-form", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", @id = "kt_email", @autocomplete = "off" })
            </div>
            <div class="kt-login__actions">
                <button type="submit" id="kt_login_forgot_submit" class="btn btn-brand btn-pill btn-elevate">Request</button>
                <a href="~/User/UserLogin" class="btn btn-outline-brand btn-pill" style="padding-top: 13px;">Cancel</a>
            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
