﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="kt-login__signin">
    <div class="kt-login__head">
        <h3 class="kt-login__title"> Please check your email to reset your password.</h3>
    </div>
</div>

