﻿@using TacoTicassa.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<style>
    .btn-brand {
        color: #fff;
        background-color: #3e853a;
        border-color: #3e853a;
        color: #ffffff;
    }

        .btn-brand:hover {
            color: #fff;
            background-color: #E32B2D;
            border-color: #E32B2D;
        }
        .btn-brand:not(:disabled):not(.disabled):active, .btn-brand:not(:disabled):not(.disabled).active, .show > .btn-brand.dropdown-toggle {
            color: #fff;
            background-color: #3e853a;
            border-color: #3e853a;
        }
</style>
<div class="kt-login__signin">
    <div class="kt-login__head">
        <h3 class="kt-login__title">Sign In To Admin</h3>
    </div>
    <div class="kt-login__form">

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal kt-form", role = "form" }))
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-last", @placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="kt-login__extra">
                <label class="kt-checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                    <span></span>
                </label>
                <a href="~/Account/ForgotPassword" >Forget Password ?</a>
            </div>
            <div class="kt-login__actions">
                <button type="submit" class="btn btn-brand btn-pill btn-elevate">Sign In</button>
            </div>
            @*<p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>*@
            @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
        }

        @*<form class="kt-form" action="#">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Email" name="email" autocomplete="off">
                </div>
                <div class="form-group">
                    <input class="form-control form-control-last" type="password" placeholder="Password" name="password">
                </div>
                <div class="kt-login__extra">
                    <label class="kt-checkbox">
                        <input type="checkbox" name="remember"> Remember me
                        <span></span>
                    </label>
                    <a href="javascript:;" id="kt_login_forgot">Forget Password ?</a>
                </div>
                <div class="kt-login__actions">
                    <button id="kt_login_signin_submit" class="btn btn-brand btn-pill btn-elevate">Sign In</button>
                </div>
            </form>*@
    </div>
    @*<div class="kt-login__account">
        <span class="kt-login__account-msg">
            Don't have an account yet ?
        </span>&nbsp;&nbsp;
        <a href="~/Account/Register" class="kt-login__account-link">Sign Up!</a>
    </div>*@
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}