﻿@model TacoTicassa.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}



<div class="kt-login__signup">
    <div class="kt-login__head">
        <h3 class="kt-login__title">Sign Up</h3>
        <div class="kt-login__desc">Enter your details to create your account:</div>
    </div>
    <div class="kt-login__form">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal kt-form", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", @placeholder = "Full Name" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-last", @placeholder = "Confirm Password" })
            </div>
                        <div class="kt-login__actions">
                <button type="submit" class="btn btn-brand btn-pill btn-elevate">Sign Up</button>
                @*<button id="kt_login_signup_cancel" class="btn btn-outline-brand btn-pill">Cancel</button>*@
                <a href="~/Account/Login" class="btn btn-outline-brand btn-pill" style="padding-top: 13px;">Cancel</a>
            </div>
        }



    </div>
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
