﻿@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="kt-login__signin">
    <div class="kt-login__head">
        <h3 class="kt-login__title"> Your password has been reset. Please @Html.ActionLink("Click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</h3>
    </div>
</div>
