﻿@model TacoTicassa.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<div class="kt-login__forgot">
    <div class="kt-login__head">
        <h3 class="kt-login__title">Reset your password</h3>
    </div>
    <div class="kt-login__form">

        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Code)
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-last", @placeholder = "Confirm Password" })
            </div>
            <div class="kt-login__actions">
                <button type="submit" id="kt_login_forgot_submit" class="btn btn-brand btn-pill btn-elevate">Reset</button>
            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
