﻿
@{
    ViewBag.Title = "_LayoutForRegister";
}
<!DOCTYPE html>

<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8" />

    <title>Taco De Casa | Admin Login </title>
    <meta name="description" content="Login page example">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Fonts -->
    <script src="~/AdminTemplate/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Fonts -->
    <!--begin::Page Custom Styles(used by this page) -->
    <link href="~/AdminTemplate/custom/pages/user/assets/css/demo5/pages/custom/general/login/login-6.css" rel="stylesheet" />
    <!--end::Page Custom Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="~/AdminTemplate/custom/pages/user/assets/vendors/global/vendors.bundle.css" rel="stylesheet" />
    <link href="~/AdminTemplate/custom/pages/user/assets/css/demo5/style.bundle.css" rel="stylesheet" />
    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <!--end::Layout Skins -->
    <link rel="shortcut icon" href="@Url.ContentVersioned("~/Images/favicon.ico")" />
    <!-- Hotjar Tracking Code for keenthemes.com -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 1070954, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37564768-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-37564768-1');
    </script>
    <style>
        .kt-login.kt-login--v6 .kt-login__aside .kt-login__wrapper .kt-login__container {
            width: 88% !important;
        }

        .kt-login.kt-login--v6 .btn {
            margin-top: 5px !important;
        }
    </style>

    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>*@
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>

        (function ($) {
            $.fn.easyTabs = function (option) {
                var param = jQuery.extend({ fadeSpeed: "fast", defaultContent: 1, activeClass: 'active' }, option); $(this).each(function () {
                    var thisId = "#" + this.id; if (param.defaultContent == '') { param.defaultContent = 1; }
                    if (typeof param.defaultContent == "number") { var defaultTab = $(thisId + " .tabs li:eq(" + (param.defaultContent - 1) + ") a").attr('href').substr(1); } else { var defaultTab = param.defaultContent; }
                    $(thisId + " .tabs li a").each(function () { var tabToHide = $(this).attr('href').substr(1); $("#" + tabToHide).addClass('easytabs-tab-content'); }); hideAll(); changeContent(defaultTab); function hideAll() { $(thisId + " .easytabs-tab-content").hide(); }
                    function changeContent(tabId) {
                        hideAll(); $(thisId + " .tabs li").removeClass(param.activeClass); $(thisId + " .tabs li a[href=#" + tabId + "]").closest('li').addClass(param.activeClass); if (param.fadeSpeed != "none") { $(thisId + " #" + tabId).fadeIn(param.fadeSpeed); } else { $(thisId + " #" + tabId).show(); }
                    }
                    $(thisId + " .tabs li").click(function () { var tabId = $(this).find('a').attr('href').substr(1); changeContent(tabId); return false; });
                });
            }
        })(jQuery);
    </script>


    <link rel="stylesheet" href="~/Albetron/stylesheet.css" type="text/css" charset="utf-8" />
    <style type="text/css">

        body {
            font-family: 'aileronregular' !important;
        }

        button, input, a {
            font-family: 'aileronregular' !important;
        }
    </style>
</head>
<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-page--loading-enabled kt-page--loading kt-page--fixed kt-header--fixed kt-header--minimize-topbar kt-header-mobile--fixed kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-subheader--enabled kt-subheader--transparent kt-page--loading">
    <!-- begin::Page loader -->
    <!-- end::Page Loader -->
    <!-- begin:: Page -->
    <div class="kt-grid kt-grid--ver kt-grid--root kt-page">
        <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v6 kt-login--signin" id="kt_login">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
                <div class="kt-grid__item  kt-grid__item--order-tablet-and-mobile-2  kt-grid kt-grid--hor kt-login__aside">
                    <div class="kt-login__wrapper">
                        <div class="kt-login__container">
                            <div class="kt-login__body">
                                <div class="kt-login__logo">
                                    <a href="#">
                                        <img src="@Url.ContentVersioned("~/Tacodecasa/assets/img/logo.png")" style="width: 50%;" />
                                    </a>
                                </div>
                                @RenderBody()

                                @*<div class="kt-login__forgot">
                                        <div class="kt-login__head">
                                            <h3 class="kt-login__title">Forgotten Password ?</h3>
                                            <div class="kt-login__desc">Enter your email to reset your password:</div>
                                        </div>
                                        <div class="kt-login__form">
                                            <form class="kt-form" action="#">
                                                <div class="form-group">
                                                    <input class="form-control" type="text" placeholder="Email" name="email" id="kt_email" autocomplete="off">
                                                </div>
                                                <div class="kt-login__actions">
                                                    <button id="kt_login_forgot_submit" class="btn btn-brand btn-pill btn-elevate">Request</button>
                                                    <button id="kt_login_forgot_cancel" class="btn btn-outline-brand btn-pill">Cancel</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-grid__item kt-grid__item--fluid kt-grid__item--center kt-grid kt-grid--ver kt-login__content" style="background-image:url('@Url.ContentVersioned("../../Images/BGTaco.jpg")'); ">
                    <div class="kt-login__section" style="background-color:rgba(0,0,0,0.5)">
                        <div class="kt-login__block">
                            <h3 class="kt-login__title">Join Our Community</h3>
                            <div class="kt-login__desc">
                                Lorem ipsum dolor sit amet, coectetuer adipiscing
                                <br>elit sed diam nonummy et nibh euismod
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end:: Page -->
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = { "colors": { "state": { "brand": "#3d94fb", "light": "#ffffff", "dark": "#282a3c", "primary": "#5867dd", "success": "#34bfa3", "info": "#3d94fb", "warning": "#ffb822", "danger": "#fd27eb" }, "base": { "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"], "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"] } } };
    </script>
    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    <script src="~/AdminTemplate/custom/pages/user/assets/vendors/global/vendors.bundle.js"></script>
    <!--end::Global Theme Bundle -->
    <!--begin::Page Scripts(used by this page) -->
    <script src="~/AdminTemplate/custom/pages/user/assets/js/demo5/pages/login/login-general.js"></script>
    <!--end::Page Scripts -->
    @RenderSection("scripts", required: false)
    <script>
    $(document).ready(function () {

        @Html.Raw(TempData["Status"])
    });
    </script>
</body>
<!-- end::Body -->
<!-- Mirrored from keenthemes.com/metronic/preview/demo5/custom/pages/user/login-6.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 03 May 2019 04:29:23 GMT -->
</html>

