﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="favicon.png" />
    <link rel="shortcut icon" type="image/png" href="favicon.png" />
    <title>Madang</title>
    <!-- style lists -->
    <link href="~/UserTemplate/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/UserTemplate/css/animate.css" rel="stylesheet">
    <link href="~/UserTemplate/css/hover.css" rel="stylesheet">
    <link href="~/UserTemplate/css/font-awesome.css" rel="stylesheet">
    <link href="~/UserTemplate/css/jquery.bxslider.css" rel="stylesheet">
    <link href="~/UserTemplate/css/owl.carousel.css" rel="stylesheet">
    <link href="~/UserTemplate/css/owl.transitions.css" rel="stylesheet">
    <link rel="stylesheet" href="~/UserTemplate/css/feature-carousel.css">
    <link href="~/UserTemplate/css/jquery-ui-1.9.2.custom.css" rel="stylesheet">
    <link href="~/UserTemplate/css/style.css" rel="stylesheet">

    <!-- montserrat font embed -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        /******* loader image before page load ******/
        .no-js #loader {
            display: none;
        }

        .js #loader {
            display: block;
            position: absolute;
            left: 100px;
            top: 0;
        }

        .se-pre-con {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url(../../UserTemplate/images/Preloader_4.gif) center no-repeat #fff;
        }
    </style>
    @Scripts.Render("~/bundles/jquery")
</head>
<body class="home-page home-version1-page">
    <!-- loader image before page load starts -->
    <div class="se-pre-con"></div>
    <!-- loader image before page load ends -->
    <!-- main wrapper of the site starts -->
    <div class="wrapper">

        <!-- ============== Header starts ============== -->
        <header>
            <div class="container">
                <div class="row">

                    <!-- ============== Left logo block starts ============== -->
                    <div class="col-xs-12 col-sm-3 logo-block">
                        <figure><a href="home-version1.html"><img class="img-responsive" src="~/UserTemplate/images/madang-logo.png" alt="Madang Logo" /></a></figure>
                    </div>
                    <!-- ============== Left logo block ends ============== -->
                    <!-- ============== Main navigation starts ============== -->
                    <div class="col-xs-12 col-sm-7 menu-block">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse">
                                    <ul class="nav navbar-nav text-right pull-right">
                                        <li class="active"><a href="">Home</a></li>
                                        <li><a href="">Menu</a></li>

                                        <li><a href="">Orders</a></li>
                                        <li><a href="">Contact</a></li>
                                        <li><a href="">Sign In</a></li>
                                    </ul>
                                </div><!-- /.navbar-collapse -->

                            </div><!-- /.container-fluid -->
                        </nav>
                    </div>



                    <div class="col-xs-12 col-sm-2 nav-right-btn nav-cart">
                        <a class="btn border-btn-small art-btn  transition-none brcolor bghcolor brhcolor" href=""><i class="fa fa-shopping-cart transition-none txcolor"></i> <span class="cart-count transition-none">0</span> <span class="cart-text transition-none">Items</span></a>

                    </div>
                    @*<div class="col-xs-12 col-sm-2 nav-right-btn nav-cart">
                        <a class="btn border-btn-small " href="">Sign In</a>

                    </div>*@

                    <!-- ============== Main navigation ends ============== -->

                </div>
            </div>
        </header>
        <!-- ============== Header ends ============== -->
        @RenderBody()
        <!-- ============== footer block starts ============== -->
        <footer>
            <div class="top-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 footer-logo">
                            <figure><a href="#"><img class="img-responsive" src="~/UserTemplate/images/madang-logo-white.png" alt="Footer logo" /></a></figure>
                        </div>
                        <div class="col-xs-12 col-sm-2 footer-social-links pull-right hidden-md hidden-lg hidden-xs">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook hvr-wobble-top"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter hvr-wobble-top"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus hvr-wobble-top"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram hvr-wobble-top"></i></a></li>
                                <li><a href="#"><i class="fa fa-tumblr hvr-wobble-top"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-6 footer-menu">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3 footer-links-col">
                                    <span>about</span>
                                    <ul>
                                        <li><a href="#">about us</a></li>
                                        <li><a href="#">contact us</a></li>
                                    </ul>
                                </div>
                                <div class="col-xs-12 col-sm-3 footer-links-col">
                                    <span>press</span>
                                    <ul>
                                        <li><a href="#">press release</a></li>
                                        <li><a href="#">media</a></li>
                                    </ul>
                                </div>
                                <div class="col-xs-12 col-sm-3 footer-links-col">
                                    <span>company</span>
                                    <ul>
                                        <li><a href="#">team</a></li>
                                        <li><a href="#">board</a></li>
                                    </ul>
                                </div>
                                <div class="col-xs-12 col-sm-3 footer-links-col">
                                    <span>term</span>
                                    <ul>
                                        <li><a href="#">privacy</a></li>
                                        <li><a href="#">about cookies</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-2 footer-social-links pull-right hidden-sm">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook hvr-wobble-top"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter hvr-wobble-top"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus hvr-wobble-top"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram hvr-wobble-top"></i></a></li>
                                <li><a href="#"><i class="fa fa-tumblr hvr-wobble-top"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bottom-footer">
                <div class="container">
                    <div class="copyright-text text-center">&copy; Techxora Private Limited.</div>
                </div>
            </div>
        </footer>
        <!-- ============== footer block starts ============== -->
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/UserTemplate/js/jquery-3.1.1.min.js"></script>
    <script src="~/UserTemplate/js/jquery-ui-1.9.2.custom.js"></script>
    <script src="~/UserTemplate/js/modernizr.js"></script>
    <script src="~/UserTemplate/js/bootstrap.min.js"></script>
    <script src="~/UserTemplate/js/wow.min.js"></script>
    <script src="~/UserTemplate/js/Headroom.js"></script>
    <script src="~/UserTemplate/js/jquery.parallax-1.1.3.js"></script>
    <script src="~/UserTemplate/js/jquery.featureCarousel.js"></script>
    <script src="~/UserTemplate/js/jquery.bxslider.js"></script>
    <script src="~/UserTemplate/js/owl.carousel.js"></script>
    <script src="~/UserTemplate/js/jquery.waypoints.js"></script>
    <script src="~/UserTemplate/js/jquery.counterup.js"></script>
    <script src="~/UserTemplate/js/main.js"></script>


    <!-- Mirrored from madang.kenzap.com/products-grid-builder/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 02 May 2019 09:53:33 GMT -->
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>
