﻿
<!DOCTYPE html>

<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8" />

    <title>TacoTicassa | User Login </title>
    <meta name="description" content="Login page example">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Fonts -->
    <script src="~/AdminTemplate/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Fonts -->
    <!--begin::Page Custom Styles(used by this page) -->
    <link href="~/AdminTemplate/custom/pages/user/assets/css/demo5/pages/custom/general/login/login-6.css" rel="stylesheet" />
    <!--end::Page Custom Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="~/AdminTemplate/custom/pages/user/assets/vendors/global/vendors.bundle.css" rel="stylesheet" />
    <link href="~/AdminTemplate/custom/pages/user/assets/css/demo5/style.bundle.css" rel="stylesheet" />
    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <!--end::Layout Skins -->
    <link rel="shortcut icon" href="@Url.ContentVersioned("~/Images/favicon.ico")" />
    <!-- Hotjar Tracking Code for keenthemes.com -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 1070954, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37564768-1"></script>

    <script src="~/Tacodecasa/assets/plugins/jquery/dist/jquery.min.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-37564768-1');
    </script>
    <style>
        @@media (max-width: 1024px) {
            .kt-login.kt-login--v6 .kt-login__aside .kt-login__wrapper {
                padding-top: 0rem !important;
            }
        }

        .kt-login.kt-login--v6 .kt-login__aside .kt-login__wrapper {
            padding: 0rem !important;
        }

        @@media (max-width: 1024px) {
            .kt-login.kt-login--v6 .kt-login__aside {
                padding: 0rem !important;
            }
        }

        .kt-login.kt-login--v6 .kt-login__aside {
            padding: 0rem !important;
        }

            .kt-login.kt-login--v6 .kt-login__aside .kt-login__wrapper .kt-login__container .kt-login__logo {
                margin: 0rem !important;
            }

        @@media (max-width: 1024px) {
            .kt-login.kt-login--v6 .kt-login__aside .kt-login__wrapper .kt-login__logo {
                margin: 0rem !important;
            }
        }

        .kt-login.kt-login--v6 .kt-login__aside .kt-login__wrapper .kt-login__container .kt-login__form {
            margin-top: 0.2rem !important;
        }

        .btn-brand {
            background-color: #009846 !important;
            border-color: #009846 !important;
        }

        .btn-outline-brand {
            color: #009846 !important;
            border-color: #009846 !important;
        }

            .btn-outline-brand:hover {
                color: #ffffff !important;
                background-color: #009846 !important;
                border-color: #009846 !important;
            }

        .kt-login.kt-login--v6 .kt-login__aside .kt-login__wrapper .kt-login__account .kt-login__account-link:hover {
            color: #009846 !important;
        }

        .kt-login.kt-login--v6 .kt-login__aside .kt-login__wrapper .kt-login__container .kt-login__extra a:hover {
            color: #009846 !important;
        }

        .kt-login.kt-login--v6 .kt-login__aside .kt-login__wrapper .kt-login__container {
            width: 88% !important;
        }

        .kt-login.kt-login--v6 .btn {
            margin-top: 5px !important;
        }
    </style>

    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>*@
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script>

        (function ($) {
            $.fn.easyTabs = function (option) {
                var param = jQuery.extend({ fadeSpeed: "fast", defaultContent: 1, activeClass: 'active' }, option); $(this).each(function () {
                    var thisId = "#" + this.id; if (param.defaultContent == '') { param.defaultContent = 1; }
                    if (typeof param.defaultContent == "number") { var defaultTab = $(thisId + " .tabs li:eq(" + (param.defaultContent - 1) + ") a").attr('href').substr(1); } else { var defaultTab = param.defaultContent; }
                    $(thisId + " .tabs li a").each(function () { var tabToHide = $(this).attr('href').substr(1); $("#" + tabToHide).addClass('easytabs-tab-content'); }); hideAll(); changeContent(defaultTab); function hideAll() { $(thisId + " .easytabs-tab-content").hide(); }
                    function changeContent(tabId) {
                        hideAll(); $(thisId + " .tabs li").removeClass(param.activeClass); $(thisId + " .tabs li a[href=#" + tabId + "]").closest('li').addClass(param.activeClass); if (param.fadeSpeed != "none") { $(thisId + " #" + tabId).fadeIn(param.fadeSpeed); } else { $(thisId + " #" + tabId).show(); }
                    }
                    $(thisId + " .tabs li").click(function () { var tabId = $(this).find('a').attr('href').substr(1); changeContent(tabId); return false; });
                });
            }
        })(jQuery);
    </script>


    <link rel="stylesheet" href="~/Albetron/stylesheet.css" type="text/css" charset="utf-8" />
    <style type="text/css">

        body {
            font-family: 'aileronregular' !important;
        }

        button, input, a {
            font-family: 'aileronregular' !important;
        }
        .btn-brand {
            color: #fff;
            background-color: #3e853a;
            border-color: #3e853a;
            color: #ffffff;
        }
            .btn-brand:hover {
                color: #fff;
                background-color: #E32B2D;
                border-color: #E32B2D;
            }
    </style>
</head>
<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-page--loading-enabled kt-page--loading kt-page--fixed kt-header--fixed kt-header--minimize-topbar kt-header-mobile--fixed kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-subheader--enabled kt-subheader--transparent kt-page--loading">
    <!-- begin::Page loader -->
    <!-- end::Page Loader -->
    <!-- begin:: Page -->
    <div class="kt-grid kt-grid--ver kt-grid--root kt-page">
        <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v6 kt-login--signin" id="kt_login">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
                <div class="kt-grid__item  kt-grid__item--order-tablet-and-mobile-2  kt-grid kt-grid--hor kt-login__aside">
                    <div class="kt-login__wrapper">
                        <div class="kt-login__container">
                            <div class="kt-login__body">
                                <div class="kt-login__logo">
                                    <a href="#">
                                        <img src="@Url.ContentVersioned("~/Images/logo.png")" style="width: 40%;" />
                                    </a>
                                </div>
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- end:: Page -->
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = { "colors": { "state": { "brand": "#3d94fb", "light": "#ffffff", "dark": "#282a3c", "primary": "#5867dd", "success": "#34bfa3", "info": "#3d94fb", "warning": "#ffb822", "danger": "#fd27eb" }, "base": { "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"], "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"] } } };
    </script>

    <!--begin::Page Scripts(used by this page) -->
    <script src="~/AdminTemplate/custom/pages/user/assets/js/demo5/pages/login/login-general.js"></script>
    <!--end::Page Scripts -->
    @RenderSection("scripts", required: false)
</body>
<!-- end::Body -->
<!-- Mirrored from keenthemes.com/metronic/preview/demo5/custom/pages/user/login-6.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 03 May 2019 04:29:23 GMT -->
</html>

