﻿<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Title -->
    <title>TacoTicassa</title>
    <!-- Favicons -->
    <link rel="shortcut icon" href="~/UserTempTemplate/assets/img/favicon.png">
    <link rel="apple-touch-icon" href="~/UserTempTemplate/assets/img/favicon_60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/UserTempTemplate/assets/img/favicon_76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/UserTempTemplate/assets/img/favicon_120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/UserTempTemplate/assets/img/favicon_152x152.png">
    <!-- CSS Plugins -->
    <link rel="stylesheet" href="~/UserTempTemplate/assets/plugins/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/UserTempTemplate/assets/plugins/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="~/UserTempTemplate/assets/plugins/animate.css/animate.min.css" />
    <link rel="stylesheet" href="~/UserTempTemplate/assets/plugins/animsition/dist/css/animsition.min.css" />
    <!-- CSS Icons -->
    <link rel="stylesheet" href="~/UserTempTemplate/assets/css/themify-icons.css" />
    <link rel="stylesheet" href="~/UserTempTemplate/assets/plugins/font-awesome/css/font-awesome.min.css" />
    <!-- CSS Theme -->
    <link id="theme" rel="stylesheet" href="~/UserTempTemplate/assets/css/themes/theme-beige.min.css" />
    @*@Scripts.Render("~/bundles/jquery")*@
    <script src="~/UserTempTemplate/assets/plugins/jquery/dist/jquery.min.js"></script>
    <script src="~/Scripts/vue.min.js"></script>
    @*<script src=" https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>*@
    <script src="~/Scripts/axios.js"></script>

    <link id="theme" rel="stylesheet" href="https://unpkg.com/vue-notifyjs/themes/default.css" />
    <script src="https://unpkg.com/vue-notifyjs/dist/vue-notifyjs.js"></script>


    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>*@
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <script>

        (function ($) {
            $.fn.easyTabs = function (option) {
                var param = jQuery.extend({ fadeSpeed: "fast", defaultContent: 1, activeClass: 'active' }, option); $(this).each(function () {
                    var thisId = "#" + this.id; if (param.defaultContent == '') { param.defaultContent = 1; }
                    if (typeof param.defaultContent == "number") { var defaultTab = $(thisId + " .tabs li:eq(" + (param.defaultContent - 1) + ") a").attr('href').substr(1); } else { var defaultTab = param.defaultContent; }
                    $(thisId + " .tabs li a").each(function () { var tabToHide = $(this).attr('href').substr(1); $("#" + tabToHide).addClass('easytabs-tab-content'); }); hideAll(); changeContent(defaultTab); function hideAll() { $(thisId + " .easytabs-tab-content").hide(); }
                    function changeContent(tabId) {
                        hideAll(); $(thisId + " .tabs li").removeClass(param.activeClass); $(thisId + " .tabs li a[href=#" + tabId + "]").closest('li').addClass(param.activeClass); if (param.fadeSpeed != "none") { $(thisId + " #" + tabId).fadeIn(param.fadeSpeed); } else { $(thisId + " #" + tabId).show(); }
                    }
                    $(thisId + " .tabs li").click(function () { var tabId = $(this).find('a').attr('href').substr(1); changeContent(tabId); return false; });
                });
            }
        })(jQuery);
    </script>


    <link rel="stylesheet" href="~/Albetron/stylesheet.css" type="text/css" charset="utf-8" />
    <style type="text/css">

        body {
            font-family: 'aileronregular' !important;
        }

        button, input, a {
            font-family: 'aileronregular' !important;
        }
    </style>
</head>

<body>
    <!-- Body Wrapper -->
    <div id="body-wrapper" class="animsition">
        <!-- Header -->
        <header id="header" class="light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <!-- Logo -->
                        <div class="module module-logo dark">
                            <a href="index-2.html">
                                <img src="~/UserTempTemplate/assets/img/logo-light.svg" alt="" width="88">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <!-- Navigation -->
                        <nav class="module module-navigation left mr-4">
                            <ul id="nav-main" class="nav nav-main">
                                <li class="has-dropdown">
                                    <a href="#">Home</a>
                                    <div class="dropdown-container">
                                        <ul>
                                            <li><a href="index-2.html">Home Basic</a></li>
                                            <li><a href="index-burgers.html">Home Burgers</a></li>
                                            <li><a href="index-slider.html">Home Fullwidth Slider</a></li>
                                            <li><a href="index-video.html">Home Video</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">About</a>
                                    <div class="dropdown-container">
                                        <ul class="dropdown-mega">
                                            <li><a href="page-about.html">About Us</a></li>
                                            <li><a href="page-services.html">Services</a></li>
                                            <li><a href="page-gallery.html">Gallery</a></li>
                                            <li><a href="page-reviews.html">Reviews</a></li>
                                            <li><a href="page-faq.html">FAQ</a></li>
                                        </ul>
                                        <div class="dropdown-image">
                                            <img src="~/UserTempTemplate/assets/img/photos/dropdown-about.jpg" alt="">
                                        </div>
                                    </div>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">Menu</a>
                                    <div class="dropdown-container">
                                        <ul>
                                            <li class="has-dropdown">
                                                <a href="#">List</a>
                                                <ul>
                                                    <li><a href="menu-list-navigation.html">Navigation</a></li>
                                                    <li><a href="menu-list-collapse.html">Collapse</a></li>
                                                </ul>
                                            </li>
                                            <li class="has-dropdown">
                                                <a href="#">Grid</a>
                                                <ul>
                                                    <li><a href="menu-grid-navigation.html">Navigation</a></li>
                                                    <li><a href="menu-grid-collapse.html">Collapse</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="page-offers.html">Offers</a></li>
                                <li><a href="page-contact.html">Contact</a></li>
                                <li class="has-dropdown">
                                    <a href="#">More</a>
                                    <div class="dropdown-container">
                                        <ul class="dropdown-mega">
                                            <li><a href="page-offer-single.html">Offer single</a></li>
                                            <li><a href="page-product.html">Product</a></li>
                                            <li><a href="book-a-table.html">Book a table</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                            <li><a href="confirmation.html">Confirmation</a></li>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-sidebar.html">Blog + Sidebar</a></li>
                                            <li><a href="blog-post.html">Blog Post</a></li>
                                            <li><a href="documentation.html">Documentation</a></li>
                                        </ul>
                                        <div class="dropdown-image">
                                            <img src="~/UserTempTemplate/assets/img/photos/dropdown-more.jpg" alt="">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                        <div class="module left">
                            <a href="menu-list-navigation.html" class="btn btn-outline-secondary"><span>Order</span></a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a href="#" class="module module-cart right" data-toggle="panel-cart">
                            <span class="cart-icon">
                                <i class="ti ti-shopping-cart"></i>
                                <span class="notification">2</span>
                            </span>
                            <span class="cart-value">$32.98</span>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header / End -->
        <!-- Header -->
        <header id="header-mobile" class="light">
            <div class="module module-nav-toggle">
                <a href="#" id="nav-toggle" data-toggle="panel-mobile"><span></span><span></span><span></span><span></span></a>
            </div>
            <div class="module module-logo">
                <a href="index-2.html">
                    <img src="~/UserTempTemplate/assets/img/logo-horizontal-dark.svg" alt="">
                </a>
            </div>
            <a href="#" class="module module-cart" data-toggle="panel-cart">
                <i class="ti ti-shopping-cart"></i>
                <span class="notification">2</span>
            </a>
        </header>
        <!-- Header / End -->
        <!-- Content -->
        <div id="content">
            @RenderBody()
            <!-- Footer -->
            <footer id="footer" class="bg-dark dark">

                <div class="container">

                    <!-- Footer 2nd Row -->
                    <div class="footer-second-row">
                        <span class="text-muted">Techxora Private Limited 2019©.</span>
                    </div>
                </div>
                <!-- Back To Top -->
                <a href="#" id="back-to-top"><i class="ti ti-angle-up"></i></a>
            </footer>
            <!-- Footer / End -->
        </div>
        <!-- Body Overlay -->
        <div id="body-overlay"></div>
    </div>

    <!-- JS Plugins -->
   
    <script src="~/UserTempTemplate/assets/plugins/tether/dist/js/tether.min.js"></script>
    <script src="~/UserTempTemplate/assets/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/UserTempTemplate/assets/plugins/slick-carousel/slick/slick.min.js"></script>
    <script src="~/UserTempTemplate/assets/plugins/jquery.appear/jquery.appear.js"></script>
    <script src="~/UserTempTemplate/assets/plugins/jquery.scrollto/jquery.scrollTo.min.js"></script>
    <script src="~/UserTempTemplate/assets/plugins/jquery.localscroll/jquery.localScroll.min.js"></script>
    <script src="~/UserTempTemplate/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/UserTempTemplate/assets/plugins/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.min.js"></script>
    <script src="~/UserTempTemplate/assets/plugins/twitter-fetcher/js/twitterFetcher_min.js"></script>
    <script src="~/UserTempTemplate/assets/plugins/skrollr/dist/skrollr.min.js"></script>
    <script src="~/UserTempTemplate/assets/plugins/animsition/dist/js/animsition.min.js"></script>
    <!-- JS Core -->
    <script src="~/UserTempTemplate/assets/js/core.js"></script>
    <!-- JS Stylewsitcher -->
    <script src="styleswitcher/styleswitcher.js"></script>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
    <!--  Notifications Plugin    -->
    <script src="~/Scripts/bootstrap-notify.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
