﻿<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />


    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Fonts -->
    <script src="~/AdminTemplate/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Fonts -->
    <!--begin::Page Vendors Styles(used by this page) -->
    <link href="~/AdminTemplate/assets/vendors/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="~/AdminTemplate/assets/vendors/global/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/AdminTemplate/assets/css/demo5/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <!--end::Layout Skins -->
    <link rel="shortcut icon" href="~/AdminTemplate/assets/media/logos/favicon.ico" />
    <!-- Hotjar Tracking Code for keenthemes.com -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 1070954, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37564768-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-37564768-1');
    </script>
    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle(used by all pages) -->

    <script src="~/AdminTemplate/assets/vendors/global/vendors.bundle.js" type="text/javascript"></script>
    <script src="~/AdminTemplate/assets/js/demo5/scripts.bundle.js" type="text/javascript"></script>
    <!--end::Global Theme Bundle -->
    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@


    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <script src="~/Scripts/Site.js"></script>
    <style>
        .btn-danger {
            color: #fff;
            background-color: #fe3b3b !important;
            border-color: #fe3b3b !important;
            color: #ffffff;
        }

        .dropdown-menu.dropdown-menu-xl {
            width: 290px !important;
        }

        @@media (max-width: 768px) {
            .dropdown-menu.dropdown-menu-xl, .dropdown-menu.dropdown-menu-lg, .dropdown-menu.dropdown-menu-md {
                width: 150px !important;
            }
        }
    </style>

</head>
<body class="kt-page--loading-enabled kt-page--loading kt-page--fixed kt-header--fixed kt-header--minimize-topbar kt-header-mobile--fixed kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-subheader--enabled kt-subheader--transparent kt-page--loading">
    <!-- begin:: Page -->
  @RenderBody()

  
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = { "colors": { "state": { "brand": "#3d94fb", "light": "#ffffff", "dark": "#282a3c", "primary": "#5867dd", "success": "#34bfa3", "info": "#3d94fb", "warning": "#ffb822", "danger": "#fd27eb" }, "base": { "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"], "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"] } } };
    </script>

    <!--begin::Page Vendors(used by this page) -->
    <script src="~/AdminTemplate/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyBTGnKT7dt597vo9QgeQ7BFhvSRP4eiMSM" type="text/javascript"></script>
    <script src="~/AdminTemplate/assets/vendors/custom/gmaps/gmaps.js" type="text/javascript"></script>
    <!--end::Page Vendors -->
    <!--begin::Page Scripts(used by this page) -->
    @*<script src="~/AdminTemplate/assets/js/demo5/pages/dashboard.js" type="text/javascript"></script>*@



    <script src="~/AdminTemplate/crud/datatables/basic/assets/vendors/custom/datatables/datatables.bundle.js" type="text/javascript"></script>
    <!--  Notifications Plugin    -->
    <script src="~/Scripts/bootstrap-notify.js"></script>
    <!--end::Page Scripts -->
    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>
