﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>

<script>

        (function ($) {
            $.fn.easyTabs = function (option) {
                var param = jQuery.extend({ fadeSpeed: "fast", defaultContent: 1, activeClass: 'active' }, option); $(this).each(function () {
                    var thisId = "#" + this.id; if (param.defaultContent == '') { param.defaultContent = 1; }
                    if (typeof param.defaultContent == "number") { var defaultTab = $(thisId + " .tabs li:eq(" + (param.defaultContent - 1) + ") a").attr('href').substr(1); } else { var defaultTab = param.defaultContent; }
                    $(thisId + " .tabs li a").each(function () { var tabToHide = $(this).attr('href').substr(1); $("#" + tabToHide).addClass('easytabs-tab-content'); }); hideAll(); changeContent(defaultTab); function hideAll() { $(thisId + " .easytabs-tab-content").hide(); }
                    function changeContent(tabId) {
                        hideAll(); $(thisId + " .tabs li").removeClass(param.activeClass); $(thisId + " .tabs li a[href=#" + tabId + "]").closest('li').addClass(param.activeClass); if (param.fadeSpeed != "none") { $(thisId + " #" + tabId).fadeIn(param.fadeSpeed); } else { $(thisId + " #" + tabId).show(); }
                    }
                    $(thisId + " .tabs li").click(function () { var tabId = $(this).find('a').attr('href').substr(1); changeContent(tabId); return false; });
                });
            }
        })(jQuery);
</script>


<link rel="stylesheet" href="~/Albetron/stylesheet.css" type="text/css" charset="utf-8" />
<style type="text/css">

    body {
        font-family: 'aileronregular' !important;
    }

    button, input, a {
        font-family: 'aileronregular' !important;
    }
</style>