﻿﻿﻿@using Microsoft.AspNet.Identity;
@{
    var CheckUserID = "";
    if (Request.Cookies[Common.LoginCookieName] != null)
    {
        CheckUserID = Request.Cookies[Common.LoginCookieName].Value;
    }
    var LoginDetails = Common.GetLogInDetails(User.Identity.GetUserId());
}
@{
    int CartID = 0;
    if (Request.Cookies["CartID"] != null)
    {
        int CartCookieID = Convert.ToInt32(Request.Cookies["CartID"].Value);
        CartID = CartCookieID;


    }
    var actn = ViewContext.RouteData.Values["action"].ToString();

    //if (LoginDetails.IsGuestUser == true)
    //{
    //    TempData["Status"] += Common.GenerateNotification("Pending Order ", "success");
    //}

    var Session = HttpContext.Current.Request.QueryString["ReturnUrl"];
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from themes.suelo.pl/soup/menu-grid-navigation.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 06 May 2019 10:00:40 GMT -->
<head>

    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Title -->
    <title>Taco De Casa</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="@Url.ContentVersioned("~/Images/favicon1.ico")">
    <link rel="apple-touch-icon" href="~/Images/favicon.ico">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Images/favicon1.ico">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Images/favicon1.ico">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Images/favicon1.ico">

    <!-- CSS Plugins -->
    <link rel="stylesheet" href="@Url.ContentVersioned("~/Tacodecasa/assets/plugins/bootstrap/dist/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.ContentVersioned("~/Tacodecasa/assets/plugins/slick-carousel/slick/slick.css")" />
    <link rel="stylesheet" href="@Url.ContentVersioned("~/Tacodecasa/assets/plugins/animate.css/animate.min.css")" />
    <link rel="stylesheet" href="@Url.ContentVersioned("~/Tacodecasa/assets/plugins/animsition/dist/css/animsition.min.css")" />

    <!-- CSS Icons -->
    <link rel="stylesheet" href="@Url.ContentVersioned("~/Tacodecasa/assets/css/themify-icons.css")" />
    <link rel="stylesheet" href="@Url.ContentVersioned("~/Tacodecasa/assets/plugins/font-awesome/css/font-awesome.min.css")" />

    <!-- CSS Theme -->
    <link id="theme" rel="stylesheet" href="@Url.ContentVersioned("~/Tacodecasa/assets/css/themes/theme-beige.min.css")" />

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script>

        (function ($) {
            $.fn.easyTabs = function (option) {
                var param = jQuery.extend({ fadeSpeed: "fast", defaultContent: 1, activeClass: 'active' }, option); $(this).each(function () {
                    var thisId = "#" + this.id; if (param.defaultContent == '') { param.defaultContent = 1; }
                    if (typeof param.defaultContent == "number") { var defaultTab = $(thisId + " .tabs li:eq(" + (param.defaultContent - 1) + ") a").attr('href').substr(1); } else { var defaultTab = param.defaultContent; }
                    $(thisId + " .tabs li a").each(function () { var tabToHide = $(this).attr('href').substr(1); $("#" + tabToHide).addClass('easytabs-tab-content'); }); hideAll(); changeContent(defaultTab); function hideAll() { $(thisId + " .easytabs-tab-content").hide(); }
                    function changeContent(tabId) {
                        hideAll(); $(thisId + " .tabs li").removeClass(param.activeClass); $(thisId + " .tabs li a[href=#" + tabId + "]").closest('li').addClass(param.activeClass); if (param.fadeSpeed != "none") { $(thisId + " #" + tabId).fadeIn(param.fadeSpeed); } else { $(thisId + " #" + tabId).show(); }
                    }
                    $(thisId + " .tabs li").click(function () { var tabId = $(this).find('a').attr('href').substr(1); changeContent(tabId); return false; });
                });
            }
        })(jQuery);
    </script>


    <link rel="stylesheet" href="~/Albetron/stylesheet.css" type="text/css" charset="utf-8" />
    <style type="text/css">

        body {
            font-family: 'aileronregular' !important;
        }

        button, input, a {
            font-family: 'aileronregular' !important;
        }

        #spin {
            display: block !important;
            visibility: visible !important;
        }
    </style>
    <script src="~/Tacodecasa/assets/plugins/jquery/dist/jquery.min.js"></script>
    <script src="~/Scripts/NotifyBootstrap.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.7/bootstrap-notify.min.js"></script>

    <link rel="stylesheet" href="https://raw.githubusercontent.com/daneden/animate.css/master/animate.css" />

    @*<script src=" https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>*@



    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/axios.js"></script>

    <script src="~/Scripts/pagination.js"></script>

    @*<script src="~/Scripts/bootstrap-notify.js"></script>*@
    @*<script src="~/Scripts/notify.js"></script>
        <script src="~/Scripts/notify.min.js"></script>*@
    @*<script>

                var CartTemplate = '\
            <a href="event.stopPropagation();" class="module module-cart right" data-toggle="panel-cart" v-if="data">\
                 <span class="cart-icon">\
                 <i class="ti ti-shopping-cart"></i>\
                    <span class="notification">{{CartCount}}</span>\
                          </span>\
                 <span class="cart-value">AED {{CartAmount}</span>\
                 </a>\
        ';

                var Headercomponent = new Vue.component('vue-component', {
                    props: ["CartCount", "CartAmount"],
                    created() {
                        this.$set(this.CartCount, 0);
                        this.$set(this.CartAmount, 0);
                   },
                    template: CartTemplate
                })
            </script>*@

    <script>
        $(document).ready(function () {
            var CartJsID = '@CartID';
            if (CartJsID == null || CartJsID == 0) {
                $("#CartAmount").html('AED 0');
                $("#CartCount").html('0');
                $("#CartCountMobile").html('0');

            }

        });
        function imgUrlAltSign(event) {
           // debugger;
            event.target.src = "../Images/NoImageProduct.jpg";
        }
    </script>

    <style>


        .nav-main > li:not(:last-child) {
            margin-right: 1.5rem !important;
        }

        .alert-success {
            color: #fff !important;
            background-color: #309B42 !important;
            border-color: #309B42 !important;
            font-weight: 400;
        }

        .alert-info {
            color: #fff !important;
            background-color: #31708f !important;
            border-color: #31708f !important;
            font-weight: 400;
        }

        .alert-danger {
            color: #fff !important;
            background-color: #D22730 !important;
            border-color: #D22730 !important;
            font-weight: 400;
        }

        .alert-warning {
            color: black !important;
            background-color: #F3D54E !important;
            border-color: #F3D54E !important;
            font-weight: 400;
        }

        .close {
            color: #fff !important;
            text-shadow: 0 1px 0 #4aa36b;
            background-color: none !important;
        }

            .close span {
                background-color: #4aa36b !important;
            }



        .ProfileImg {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        a:not([href]):not([tabindex]):hover {
            color: #fff !important;
            background: #E32B2D;
            padding-left: 15px;
        }


        .a:hover, a:focus {
            color: #fcd04f !important;
        }

        #header-mobile .module-logo img {
            height: calc(60px - 10px) !important;
        }

        .nav-main > li .dropdown-container .dropdown-mega > li > a {
            padding: 5px 0;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>

</head>

<body>

    <!-- Body Wrapper -->
    <div id="body-wrapper" class="animsition">

        <!-- Header -->
        <header id="header" class="light">

            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <!-- Logo -->
                        <div class="module module-logo dark">
                            <a href="@Url.Action("Index","Home")">
                                <img src="@Url.ContentVersioned("~/Tacodecasa/assets/img/logo.png")" alt="" width="170">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9" style="padding-right:2%;">
                        <div id="CartPart">
                            <a href="#" class="module module-cart right" data-toggle="panel-cart">

                                <span class="cart-icon">

                                    <i class="ti ti-shopping-cart"></i>
                                    <span id="CartCount" class="notification"></span>
                                </span>
                                <span id="CartAmount" class="cart-value"></span>
                            </a>
                        </div>

                        <!-- Navigation -->
                        <nav class="module module-navigation left mr-4">
                            <ul id="nav-main" class="nav nav-main">

                                <li><a href="@Url.Action("Index","Home")">HOME</a></li>
                                <li><a href="@Url.Action("Offer","Home")">Offers </a></li>

                                @if (CartID != 0 && LoginDetails != null)
                                {
                                    <li><a href="@Url.Action("CheckOut","Home")">Check Out</a></li>
                                }
                                <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                                <li>   <a href="https://play.google.com/store/apps/details?id=com.onlineitsolutions.tacodecasa&hl=en" target="_blank"><img src="~/Images/GoogelPlayStore.png" /></a></li>
                                <li>   <a href="https://apps.apple.com/us/app/taco-decasa/id1497436814#?platform=iphone" target="_blank"><img src="~/Images/AppleAppStore.png" style="max-height: 30px;"/></a></li>
                            </ul>
                        </nav>
                        @if (LoginDetails != null)
                        {


                            <ul id="nav-main1" class="nav nav-main Dodrop" style="float:right;margin-right: 15%;">
                                @if (LoginDetails.IsGuestUser != true)
                                {
                                    <li class="has-dropdown">
                                        @if (LoginDetails.ProfileImage != null)
                                        {
                                            <a href="#"><img alt="Pic" src="@Url.ContentVersioned("~/Images/UserProfileImage/"+LoginDetails.ProfileImage)" class="ProfileImg" onerror="imgUrlAltSign(event)" /></a>
                                        }
                                        else
                                        {
                                            <a href="#"><img alt="Pic" onerror="imgUrlAltSign(event)" src="@Url.ContentVersioned("~/Images/default.png")" class="ProfileImg" /></a>
                                        }

                                        <div class="dropdown-container">
                                            <ul class="dropdown-mega">
                                                <li style="float:right;margin-right:-8px">
                                                    @if (LoginDetails.ProfileImage != null)
                                                    {
                                                        <img alt="Pic" width="88" style="border-radius:10px" src="@Url.ContentVersioned("~/Images/UserProfileImage/"+LoginDetails.ProfileImage)" onerror="imgUrlAltSign(event)" />
                                                    }
                                                    else
                                                    {
                                                        <a href="#"><img alt="Pic" width="78" onerror="imgUrlAltSign(event)" src="@Url.ContentVersioned("~/Images/default.png")" /></a>
                                                    }
                                                </li>
                                                <li style="font-weight:bold;"> <a href="#">@LoginDetails.FullName</a> </li>

                                                <li><a href="@Url.Action("OrderSummary","User")">My Orders</a></li>
                                                <li><a href="@Url.Action("ProfileSettings","User")">View Profile</a></li>
                                                <li><a href="@Url.Action("RewardsSummary","User")">Claimed Rewards</a></li>
                                                <li>
                                                    @if (actn == "Contact" || actn == "contact")
                                                    {
                                                        <a href="@Url.Action("UserLogout","User",new { Pageform = "FromContact" })">Log Out</a>
                                                    }
                                                    else if (actn == "Index" || actn == "index")
                                                    {
                                                        <a href="@Url.Action("UserLogout","User",new { Pageform = "FromIndex" })">Log Out</a>

                                                    }
                                                    else if (actn == "Offer" || actn == "offer")
                                                    {
                                                        <a href="@Url.Action("UserLogout","User",new { Pageform = "FromOffers" })">Log Out</a>
                                                    }
                                                    else
                                                    {
                                                        <a href="@Url.Action("UserLogout","User",new { Pageform = "FromIndex" })">Log Out</a>
                                                    }
                                                    @*<a href="@Url.Action("UserLogout","User")">Log Out</a>*@
                                                </li>
                                            </ul>
                                            @*<div class="dropdown-image">
                                                    <img src="~/Tacodecasa/assets/img/photos/dropdown-more.jpg" alt="">
                                                </div>*@
                                        </div>


                                    </li>
                                }
                                else
                                {


                                    <li class="has-dropdown">

                                        <a href="#">Welcome @LoginDetails.FullName !</a>



                                        <div class="dropdown-container">
                                            <ul class="dropdown-mega">


                                                <li>
                                                    @if (actn == "Contact" || actn == "contact")
                                                    {
                                                        <a href="@Url.Action("UserLogout","User",new { Pageform = "FromContact" })">Log Out</a>
                                                    }
                                                    else if (actn == "Index" || actn == "index")
                                                    {
                                                        <a href="@Url.Action("UserLogout","User",new { Pageform = "FromIndex" })">Log Out</a>

                                                    }
                                                    else if (actn == "Offer" || actn == "offer")
                                                    {
                                                        <a href="@Url.Action("UserLogout","User",new { Pageform = "FromOffers" })">Log Out</a>
                                                    }
                                                    else
                                                    {
                                                        <a href="@Url.Action("UserLogout","User",new { Pageform = "FromIndex" })">Log Out</a>
                                                    }
                                                    @*<a href="@Url.Action("UserLogout","User")">Log Out</a>*@
                                                </li>
                                            </ul>
                                            @*<div class="dropdown-image">
                                                    <img src="~/Tacodecasa/assets/img/photos/dropdown-more.jpg" alt="">
                                                </div>*@
                                        </div>


                                    </li>
                                }

                            </ul>
                        }
                        @*</ul>
                            </nav>*@
                        @if (LoginDetails == null)
                        {
                            <ul id="nav-main2" class="nav nav-main" style="float:right;margin-right: 5%;">
                                <li>
                                    <div class="module left">
                                        @if (actn == "Contact" || actn == "contact")
                                        {
                                            <a href="#LoginModal" data-toggle="modal" class="btn btn-outline-secondary" onclick="ShowLogin('FromContact');"><span>Sign In</span></a>
                                        }
                                        else if (actn == "Index" || actn == "index")
                                        {
                                            <a href="#LoginModal" data-toggle="modal" class="btn btn-outline-secondary" onclick="ShowLogin('FromIndex');"><span>Sign In</span></a>
                                        }
                                        else if (actn == "Offer" || actn == "offer")
                                        {
                                            <a href="#LoginModal" data-toggle="modal" class="btn btn-outline-secondary" onclick="ShowLogin('FromOffers');"><span>Sign In</span></a>
                                        }
                                        else
                                        {

                                        }

                                    </div>
                                </li>
                            </ul>

                        }


                    </div>
                    @*<div class="col-md-1">
                            <a href="#" class="module module-cart right" data-toggle="panel-cart">
                                <span class="cart-icon">
                                    <i class="ti ti-shopping-cart"></i>
                                    <span class="notification">$0</span>
                                </span>
                                <span class="cart-value">0</span>
                            </a>
                        </div>*@
                </div>
            </div>

        </header>
        <!-- Header / End -->
        <!-- Header -->
        <header id="header-mobile" class="light">

            <div class="module module-nav-toggle">
                <a href="#" id="nav-toggle" data-toggle="panel-mobile"><span></span><span></span><span></span><span></span></a>
            </div>

            <div class="module module-logo">
                <a href="">
                    <img src="@Url.ContentVersioned("~/Tacodecasa/assets/img/logo.png")" alt="">
                </a>
            </div>
            <div id="MobileCart">
                <a href="#" class="module module-cart" data-toggle="panel-cart">
                    <i class="ti ti-shopping-cart"></i>
                    <span id="CartCountMobile" class="notification">0</span>
                </a>
            </div>
        </header>
        <!-- Header / End -->
        <!-- Content -->
        <div id="content">

            <!-- Page Title -->
            <div class="page-title bg-light">
                <div class="container">
                    <div class="row">
                        <div class="banr1">
                            <img src="@Url.ContentVersioned("~/Tacodecasa/assets/img/bnr.jpg")" />
                        </div>


                    </div>
                </div>
            </div>
            @RenderBody()

            <!-- Footer -->
            <footer id="footer" class="bg-dark dark">

                <div class="container">
                    <!-- Footer 1st Row -->
                    <!-- Footer 2nd Row -->
                    <div class="footer-second-row">
                        <span class="text-muted">&nbsp; &nbsp;&nbsp; Copyright 2020 ©.</span> &nbsp;&nbsp; <a href="/Home/TermsAndConditions/">Terms and Conditions</a>
                    </div>
                </div>

                <!-- Back To Top -->
                <a href="#" id="back-to-top"><i class="ti ti-angle-up"></i></a>

            </footer>
            <!-- Footer / End -->

        </div>

        <!-- Content / End -->
        <!-- Panel Mobile -->
        <nav id="panel-mobile">
            <div class="module module-logo  dark" style="background-color:white">
                <a href="#">
                    <img src="@Url.ContentVersioned("~/Tacodecasa/assets/img/logo.png")" style="width: 60%;" alt="">
                </a>
                <button class="close" data-toggle="panel-mobile"><i class="ti ti-close"></i></button>
            </div>
            <nav class="module module-navigation"></nav>
            <div class="module module-social">
                <h6 class="text-sm mb-3">Follow Us!</h6>
                <a href="https://www.facebook.com/TacoDeCasaUAE/" class="icon icon-social icon-circle icon-sm icon-facebook"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/tacodecasa" class="icon icon-social icon-circle icon-sm icon-twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/tacodecasa/" class="icon icon-social icon-circle icon-sm icon-instagram"><i class="fa fa-instagram"></i></a>
            </div>
        </nav>
        <div id="body-overlay"></div>

    </div>


    <!--begin: Login Modal-->
    <div class="modal fade" id="LoginHeaderModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">


                <div class="modal-body panel-details-container">
                    <!-- Panel Details / Size -->
                    @*<div class="panel-details">
                            <iframe id="LoginIFrame" src="" style="width:100%;height:500px;border:none"></iframe>
                        </div>*@
                    <iframe id="LoginHeaderIFrame" src="" style="width:100%;height:500px;border:none"></iframe>

                </div>

            </div>
        </div>
    </div>




    <div></div>

    <!-- JS Plugins -->
    <div class='notifications bottom-right'></div>

    <script src="~/Tacodecasa/assets/plugins/tether/dist/js/tether.min.js"></script>
    <script src="~/Tacodecasa/assets/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Tacodecasa/assets/plugins/slick-carousel/slick/slick.min.js"></script>
    <script src="~/Tacodecasa/assets/plugins/jquery.appear/jquery.appear.js"></script>
    <script src="~/Tacodecasa/assets/plugins/jquery.scrollto/jquery.scrollTo.min.js"></script>
    <script src="~/Tacodecasa/assets/plugins/jquery.localscroll/jquery.localScroll.min.js"></script>
    <script src="~/Tacodecasa/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/Tacodecasa/assets/plugins/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.min.js"></script>
    <script src="~/Tacodecasa/assets/plugins/twitter-fetcher/js/twitterFetcher_min.js"></script>
    <script src="~/Tacodecasa/assets/plugins/skrollr/dist/skrollr.min.js"></script>
    <script src="~/Tacodecasa/assets/plugins/animsition/dist/js/animsition.min.js"></script>

    @Scripts.Render("~/bundles/jqueryval")

    <!-- JS Core -->
    <script src="~/Tacodecasa/assets/js/core.js"></script>
    <script src="@Url.ContentVersioned("~/Scripts/Site.js")"></script>
    <!-- JS Stylewsitcher -->
    @*<script src="styleswitcher/styleswitcher.js"></script>*@
    @*<script src="~/Scripts/bootstrap-notify.js"></script>*@

    @RenderSection("scripts", required: false)

    <script>
        var $navMain = $('.Dodrop'),
            $dropdownTrigger = $navMain.find('li.has-dropdown > a');

        $dropdownTrigger.on('click', function () {

            var $self = $(this),
                $selfParent = $(this).parent('li');
            if (!$selfParent.hasClass('dropdown-show')) {
                $selfParent.siblings('.dropdown-show').removeClass('dropdown-show');
                $selfParent.addClass('dropdown-show');
                $body.addClass('dropdown-visible');
            } else {
                $selfParent.removeClass('dropdown-show');
                $body.removeClass('dropdown-visible');
            }
            return false;
        });



    </script>

    <script>
        $(document).ready(function () {
            //debugger;

            //var currentLocation = window.location;
            var act='@actn';

            if (act == 'Index' || act == 'index') {
                $('#CartPart').show();
                $('#MobileCart').show();
            }
            else {
                $('#CartPart').hide();
                $('#MobileCart').hide();
            }
            //    alert(act);
            //alert(cntrl);
        });
        function imgUrlAltSign(event) {
            //debugger;
            event.target.src = '@Url.ContentVersioned("../Images/NoImageProduct.jpg")';
        }
    </script>
    <script>
           $(document).ready(function () {

             @Html.Raw(TempData["Status"])
         });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
               var SessionVal='@Session';
           if(SessionVal !=null && SessionVal!="")
            {
       return $.notify({ message: 'Session Time Out...Please Sign In !!' }, { allow_dismiss: true, type: 'danger', placement: { from: 'top', delay: 600, align: 'center' } });
             }


         

        });
        //$(function () {
        //    RefreshPartial();
        //    function RefreshGetNotifications() {
        //        //this will wait 3 seconds and then fire the load partial function
        //        setTimeout(function () {
        //            //recall this function so that it will continue to loop
        //            GetNotifications();
        //        }, 5000);
        //    }
        //});
        //function fetchdata() {

        //}

        //$(document).ready(function () {
        //    setInterval(fetchdata, 10);
        //});
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105804232-9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-105804232-9');
    </script>

</body>


</html>

