﻿<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from themes.suelo.pl/soup/menu-grid-navigation.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 06 May 2019 10:00:40 GMT -->
<head>

    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Title -->
    <title>Taco De Casa</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="~/Tacodecasa/assets/img/favicon.png">
    <link rel="apple-touch-icon" href="~/Tacodecasa/assets/img/favicon_60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Tacodecasa/assets/img/favicon_76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Tacodecasa/assets/img/favicon_120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Tacodecasa/assets/img/favicon_152x152.png">

    <!-- CSS Plugins -->
    <link rel="stylesheet" href="~/Tacodecasa/assets/plugins/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Tacodecasa/assets/plugins/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="~/Tacodecasa/assets/plugins/animate.css/animate.min.css" />
    <link rel="stylesheet" href="~/Tacodecasa/assets/plugins/animsition/dist/css/animsition.min.css" />

    <!-- CSS Icons -->
    <link rel="stylesheet" href="~/Tacodecasa/assets/css/themify-icons.css" />
    <link rel="stylesheet" href="~/Tacodecasa/assets/plugins/font-awesome/css/font-awesome.min.css" />

    <!-- CSS Theme -->
    <link id="theme" rel="stylesheet" href="~/Tacodecasa/assets/css/themes/theme-beige.min.css" />

    <script src="~/Tacodecasa/assets/plugins/jquery/dist/jquery.min.js"></script>
    <script src="~/Scripts/vue.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>*@
    <script src="~/Scripts/axios.js"></script>

    <link id="theme" rel="stylesheet" href="https://unpkg.com/vue-notifyjs/themes/default.css" />
    <script src="https://unpkg.com/vue-notifyjs/dist/vue-notifyjs.js"></script>


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <script>

        (function ($) {
            $.fn.easyTabs = function (option) {
                var param = jQuery.extend({ fadeSpeed: "fast", defaultContent: 1, activeClass: 'active' }, option); $(this).each(function () {
                    var thisId = "#" + this.id; if (param.defaultContent == '') { param.defaultContent = 1; }
                    if (typeof param.defaultContent == "number") { var defaultTab = $(thisId + " .tabs li:eq(" + (param.defaultContent - 1) + ") a").attr('href').substr(1); } else { var defaultTab = param.defaultContent; }
                    $(thisId + " .tabs li a").each(function () { var tabToHide = $(this).attr('href').substr(1); $("#" + tabToHide).addClass('easytabs-tab-content'); }); hideAll(); changeContent(defaultTab); function hideAll() { $(thisId + " .easytabs-tab-content").hide(); }
                    function changeContent(tabId) {
                        hideAll(); $(thisId + " .tabs li").removeClass(param.activeClass); $(thisId + " .tabs li a[href=#" + tabId + "]").closest('li').addClass(param.activeClass); if (param.fadeSpeed != "none") { $(thisId + " #" + tabId).fadeIn(param.fadeSpeed); } else { $(thisId + " #" + tabId).show(); }
                    }
                    $(thisId + " .tabs li").click(function () { var tabId = $(this).find('a').attr('href').substr(1); changeContent(tabId); return false; });
                });
            }
        })(jQuery);
    </script>


    <link rel="stylesheet" href="~/Albetron/stylesheet.css" type="text/css" charset="utf-8" />
    <style type="text/css">

        body {
            font-family: 'aileronregular' !important;
        }

        button, input, a {
            font-family: 'aileronregular' !important;
        }
    </style>
</head>

<body>

    <!-- Body Wrapper -->
    <div id="body-wrapper" class="animsition">

        <!-- Header -->
        <header id="header" class="light">

            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <!-- Logo -->
                        <div class="module module-logo dark">
                            <a href="index-2.html">
                                <img src="~/Tacodecasa/assets/img/logo.png" alt="" width="220">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <!-- Navigation -->
                        <nav class="module module-navigation left mr-4">
                            <ul id="nav-main" class="nav nav-main">
                                <li class="has-dropdown">
                                    <a href="#">Home</a>
                                    <div class="dropdown-container">
                                        <ul>
                                            <li><a href="index-2.html">Home Basic</a></li>
                                            <li><a href="index-burgers.html">Home Burgers</a></li>
                                            <li><a href="index-slider.html">Home Fullwidth Slider</a></li>
                                            <li><a href="index-video.html">Home Video</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">About</a>
                                    <div class="dropdown-container">
                                        <ul class="dropdown-mega">
                                            <li><a href="page-about.html">About Us</a></li>
                                            <li><a href="page-services.html">Services</a></li>
                                            <li><a href="page-gallery.html">Gallery</a></li>
                                            <li><a href="page-reviews.html">Reviews</a></li>
                                            <li><a href="page-faq.html">FAQ</a></li>
                                        </ul>
                                        <div class="dropdown-image">
                                            <img src="~/Tacodecasa/assets/img/photos/dropdown-about.jpg" alt="">
                                        </div>
                                    </div>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">Menu</a>
                                    <div class="dropdown-container">
                                        <ul>
                                            <li class="has-dropdown">
                                                <a href="#">List</a>
                                                <ul>
                                                    <li><a href="menu-list-navigation.html">Navigation</a></li>
                                                    <li><a href="menu-list-collapse.html">Collapse</a></li>
                                                </ul>
                                            </li>
                                            <li class="has-dropdown">
                                                <a href="#">Grid</a>
                                                <ul>
                                                    <li><a href="menu-grid-navigation.html">Navigation</a></li>
                                                    <li><a href="menu-grid-collapse.html">Collapse</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="page-offers.html">Offers</a></li>
                                <li><a href="page-contact.html">Contact</a></li>
                                <li class="has-dropdown">
                                    <a href="#">More</a>
                                    <div class="dropdown-container">
                                        <ul class="dropdown-mega">
                                            <li><a href="page-offer-single.html">Offer single</a></li>
                                            <li><a href="page-product.html">Product</a></li>
                                            <li><a href="book-a-table.html">Book a table</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                            <li><a href="confirmation.html">Confirmation</a></li>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-sidebar.html">Blog + Sidebar</a></li>
                                            <li><a href="blog-post.html">Blog Post</a></li>
                                            <li><a href="documentation.html">Documentation</a></li>
                                        </ul>
                                        <div class="dropdown-image">
                                            <img src="~/Tacodecasa/assets/img/photos/dropdown-more.jpg" alt="">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                        <div class="module left">
                            <a href="menu-list-navigation.html" class="btn btn-outline-secondary"><span>Order</span></a>
                        </div>
                    </div>
                    @*<div class="col-md-2">
                        <a  class="module module-cart right">
                            <span class="cart-icon">
                                <i class="ti ti-shopping-cart"></i>
                                <span class="notification">{{CartCount}}</span>
                            </span>
                            <span class="cart-value">{{CartAmount}}</span>
                        </a>
                    </div>*@
                </div>
            </div>

        </header>
        <!-- Header / End -->
        <!-- Header -->
        <header id="header-mobile" class="light">

            <div class="module module-nav-toggle">
                <a href="#" id="nav-toggle" data-toggle="panel-mobile"><span></span><span></span><span></span><span></span></a>
            </div>

            <div class="module module-logo">
                <a href="index-2.html">
                    <img src="~/Tacodecasa/assets/img/logo-horizontal-dark.svg" alt="">
                </a>
            </div>

            @*<a class="module module-cart">
                <i class="ti ti-shopping-cart"></i>
                <span class="notification">{{CartCountMobile}}</span>
            </a>*@

        </header>
        <!-- Header / End -->
        <!-- Content -->
        <div id="content">

            <!-- Page Title -->
            <div class="page-title bg-light">
                <div class="container">
                    <div class="row">
                        <div class="banr1">
                            <img src="~/Tacodecasa/assets/img/baner.jpg" />
                        </div>


                    </div>
                </div>
            </div>

      
     
            @RenderBody()

            <!-- Footer -->
            <footer id="footer" class="bg-dark dark">

                <div class="container">
                    <!-- Footer 1st Row -->
                    <div class="footer-first-row row">
                        <div class="col-lg-3 text-center">
                            <a href="index-2.html"><img src="~/Tacodecasa/assets/img/logo-light.svg" alt="" width="88" class="mt-5 mb-5"></a>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <h5 class="text-muted">Latest news</h5>
                            <ul class="list-posts">
                                <li>
                                    <a href="blog-post.html" class="title">How to create effective webdeisign?</a>
                                    <span class="date">February 14, 2015</span>
                                </li>
                                <li>
                                    <a href="blog-post.html" class="title">Awesome weekend in Polish mountains!</a>
                                    <span class="date">February 14, 2015</span>
                                </li>
                                <li>
                                    <a href="blog-post.html" class="title">How to create effective webdeisign?</a>
                                    <span class="date">February 14, 2015</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-5 col-md-6">
                            <h5 class="text-muted">Subscribe Us!</h5>
                            <!-- MailChimp Form -->
                            <form action="http://suelo.us12.list-manage.com/subscribe/post-json?u=ed47dbfe167d906f2bc46a01b&amp;id=24ac8a22ad" id="sign-up-form" class="sign-up-form validate-form mb-3" method="POST">
                                <div class="input-group">
                                    <input name="EMAIL" id="mce-EMAIL" type="email" class="form-control" placeholder="Tap your e-mail..." required>
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary btn-submit" type="submit">
                                            <span class="description">Subscribe</span>
                                            <span class="success">
                                                <svg x="0px" y="0px" viewBox="0 0 32 32"><path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11" /></svg>
                                            </span>
                                            <span class="error">Try again...</span>
                                        </button>
                                    </span>
                                </div>
                            </form>
                            <h5 class="text-muted mb-3">Social Media</h5>
                            <a href="#" class="icon icon-social icon-circle icon-sm icon-facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="icon icon-social icon-circle icon-sm icon-google"><i class="fa fa-google"></i></a>
                            <a href="#" class="icon icon-social icon-circle icon-sm icon-twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="icon icon-social icon-circle icon-sm icon-youtube"><i class="fa fa-youtube"></i></a>
                            <a href="#" class="icon icon-social icon-circle icon-sm icon-instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                    <!-- Footer 2nd Row -->
                    <div class="footer-second-row">
                        <span class="text-muted">Copyright Soup 2017©. Made with love by Suelo.</span>
                    </div>
                </div>

                <!-- Back To Top -->
                <a href="#" id="back-to-top"><i class="ti ti-angle-up"></i></a>

            </footer>
            <!-- Footer / End -->

        </div>

        <!-- Content / End -->
        <!-- Panel Mobile -->
        <nav id="panel-mobile">
            <div class="module module-logo bg-dark dark">
                <a href="#">
                    <img src="~/Tacodecasa/assets/img/logo-light.svg" alt="" width="88">
                </a>
                <button class="close" data-toggle="panel-mobile"><i class="ti ti-close"></i></button>
            </div>
            <nav class="module module-navigation"></nav>
            <div class="module module-social">
                <h6 class="text-sm mb-3">Follow Us!</h6>
                <a href="#" class="icon icon-social icon-circle icon-sm icon-facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="icon icon-social icon-circle icon-sm icon-google"><i class="fa fa-google"></i></a>
                <a href="#" class="icon icon-social icon-circle icon-sm icon-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="icon icon-social icon-circle icon-sm icon-youtube"><i class="fa fa-youtube"></i></a>
                <a href="#" class="icon icon-social icon-circle icon-sm icon-instagram"><i class="fa fa-instagram"></i></a>
            </div>
        </nav>
        <div id="body-overlay"></div>

    </div>
    <!-- JS Plugins -->

    <script src="~/Tacodecasa/assets/plugins/tether/dist/js/tether.min.js"></script>
    <script src="~/Tacodecasa/assets/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Tacodecasa/assets/plugins/slick-carousel/slick/slick.min.js"></script>
    <script src="~/Tacodecasa/assets/plugins/jquery.appear/jquery.appear.js"></script>
    <script src="~/Tacodecasa/assets/plugins/jquery.scrollto/jquery.scrollTo.min.js"></script>
    <script src="~/Tacodecasa/assets/plugins/jquery.localscroll/jquery.localScroll.min.js"></script>
    <script src="~/Tacodecasa/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/Tacodecasa/assets/plugins/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.min.js"></script>
    <script src="~/Tacodecasa/assets/plugins/twitter-fetcher/js/twitterFetcher_min.js"></script>
    <script src="~/Tacodecasa/assets/plugins/skrollr/dist/skrollr.min.js"></script>
    <script src="~/Tacodecasa/assets/plugins/animsition/dist/js/animsition.min.js"></script>

    <!-- JS Core -->
    <script src="~/Tacodecasa/assets/js/core.js"></script>

    <!-- JS Stylewsitcher -->
    @*<script src="styleswitcher/styleswitcher.js"></script>*@
    <script src="~/Scripts/bootstrap-notify.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        var ProductCategoryList = new Vue({

            el: '#ProductsCategory',

            data: {
                MyProductsCategoryList: []
            },
            beforeMount() {
                //Same as mounted only call intialization difference
            },
            mounted: function () {
                this.loadData()
            },
            methods: {
                loadData: function () {

                    // UPDATED TO GET DATA FROM WEB API
                    axios.get('/Home/GetProductCategoryList')
                        .then(response => {
                            console.log(response);
                            ////debugger;
                            this.MyProductsCategoryList = response.data;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }



            }
        })

        var TotalCartAmount = new Vue({
            el: "#CartAmount",
            data: {
                CartAmount: 0,
                CartCount: 0
            },
            methods: {
                CartTotal: function (amount, count) {
                    ////debugger;
                    this.CartAmount = amount;
                    this.CartCount = count;
                }



            }
        })

        var TotalCartAmountMobile = new Vue({
            el: "#CartAmountMobile",
            data: {
                CartAmountMobile: 0,
                CartCountMobile: 0
            },
            methods: {
                CartTotalMobile: function (amount, count) {
                    //debugger;
                    this.CartAmountMobile = amount;
                    this.CartCountMobile = count;
                }



            }
        })

    </script>
</body>


<!-- Mirrored from themes.suelo.pl/soup/menu-grid-navigation.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 06 May 2019 10:00:53 GMT -->
</html>

