﻿@model TacoTicassa.Controllers.AdminController.NotifyOrderListModel
@using TacoTicassa.Models;
@using Microsoft.AspNet.Identity;
<!--begin: Notifications -->

<div class="kt-header__topbar-item dropdown">
    <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,10px">
        <span class="kt-header__topbar-icon kt-header__topbar-icon--success">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="bound" x="0" y="0" width="24" height="24" />
                    <path d="M13.2070325,4 C13.0721672,4.47683179 13,4.97998812 13,5.5 C13,8.53756612 15.4624339,11 18.5,11 C19.0200119,11 19.5231682,10.9278328 20,10.7929675 L20,17 C20,18.6568542 18.6568542,20 17,20 L7,20 C5.34314575,20 4,18.6568542 4,17 L4,7 C4,5.34314575 5.34314575,4 7,4 L13.2070325,4 Z" id="Combined-Shape" fill="#000000" />
                    <circle id="Oval" fill="#000000" opacity="0.3" cx="18.5" cy="5.5" r="2.5" />
                </g>
            </svg>				<!--<i class="flaticon2-bell-alarm-symbol"></i>-->
        </span>
        <span class="kt-hidden kt-badge kt-badge--danger"></span>
    </div>

    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">
        <form>
            @{
                var CheckUserIDLocal = "";
                if (Request.Cookies[Common.LoginCookieName] != null)
                {
                    CheckUserIDLocal = Request.Cookies[Common.LoginCookieName].Value;

                }
                var LoginDetails = Common.GetLogInDetails(CheckUserIDLocal);
               // var LoginDetails = Common.GetLogInDetails(User.Identity.GetUserId());
            }
            <!--begin: Head -->
            <div class="kt-head kt-head--skin-light kt-head--fit-x kt-head--fit-b">
                <h3 class="kt-head__title">
                    User Notifications
                    &nbsp;
                    @*<span class="btn btn-label-primary btn-sm btn-bold btn-font-md">23 new</span>*@
                </h3>
                <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand  kt-notification-item-padding-x" role="tablist">
                    @if (LoginDetails.RoleName == "DeliveryBoy")
                    {
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="tab" href="#topbar_notifications_notifications" role="tab" aria-selected="true">Received&nbsp;&nbsp;<span class="btn btn-label-primary btn-sm btn-bold btn-font-md">@Model.AssignedListCount</span></a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="tab" href="#topbar_notifications_notifications" role="tab" aria-selected="true">Booked&nbsp;&nbsp;<span class="btn btn-label-primary btn-sm btn-bold btn-font-md">@Model.BookedListCount</span></a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#topbar_notifications_events" role="tab" aria-selected="false">Delivered&nbsp;&nbsp;<span class="btn btn-label-primary btn-sm btn-bold btn-font-md">@Model.DeliveredListCount</span></a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#topbar_notifications_logs" role="tab" aria-selected="false">Cancelled<span class="btn btn-label-primary btn-sm btn-bold btn-font-md">@CancelledOrders.Count()</span></a>
                        </li>*@
                </ul>
            </div>
            <!--end: Head -->
            <div class="tab-content">

                @if (LoginDetails.RoleName == "DeliveryBoy")
                {
                    <div class="tab-pane active show" id="topbar_notifications_notifications" role="tabpanel">
                        <div class="kt-notification kt-margin-t-10 kt-margin-b-10 kt-scroll" data-scroll="true" data-height="300" data-mobile-height="200">
                            @if (Model.AssignedOrderList.Count != 0)
                            {

                                foreach (var item in Model.AssignedOrderList)
                                {
                                   
                                    <audio autoplay>
                                        <source src='~/Images/ToneWav.wav' type='audio/wav'>
                                    </audio>


                                    <a href="~/Order/OrderList?OrderID=@item.OrderID&OrderStatus=@item.OrderStatus" class="kt-notification__item">
                                        <div class="kt-notification__item-icon">
                                            <i class="flaticon2-line-chart kt-font-success"></i>
                                        </div>
                                        <div class="kt-notification__item-details">
                                            <div class="kt-notification__item-title">
                                                @item.OrderInvoiceNumber
                                            </div>
                                            <div class="kt-notification__item-time">
                                                @item.AssignedOn
                                            </div>
                                        </div>
                                    </a>
                                }
                                <a href="~/Order/OrderList?Option=FromNotify&OrderStatus=Received" class="kt-notification__item">
                                    <div class="kt-notification__item-details">
                                        <div class="kt-notification__item-title">
                                            <span class="btn btn-label-primary btn-sm btn-bold btn-font-md">--View More--</span>
                                        </div>
                                    </div>
                                </a>
                            }
                            else
                            {
                                <div class="kt-grid__item kt-grid__item--middle kt-align-center">
                                    All caught up!
                                    <br>No New Assigned Orders.
                                </div>
                            }

                        </div>
                    </div>
                }
                else
                {
                    <div class="tab-pane active show" id="topbar_notifications_notifications" role="tabpanel">
                        <div class="kt-notification kt-margin-t-10 kt-margin-b-10 kt-scroll" data-scroll="true" data-height="300" data-mobile-height="200">
                            @if (Model.BookedOrderList.Count != 0)
                            {
                                @*<audio autoplay>
                                    <source src='~/Images/ToneWav.wav' type='audio/wav'>
                                </audio>*@

                                //TempData["Status"] += Common.GenerateNotification("New Order " + item.OrderInvoiceNumber, "success");

                                foreach (var item in Model.BookedOrderList)
                                {


                                    <audio autoplay>
                                        <source src='~/Images/iphone notification.wav' type='audio/wav'>
                                    </audio>

                                    <a href="~/Order/OrderList?OrderID=@item.OrderID&OrderStatus=@item.OrderStatus" class="kt-notification__item">
                                        <div class="kt-notification__item-icon">
                                            <i class="flaticon2-line-chart kt-font-success"></i>
                                        </div>
                                        <div class="kt-notification__item-details">
                                            <div class="kt-notification__item-title">
                                                @item.OrderInvoiceNumber
                                            </div>
                                            <div class="kt-notification__item-time">
                                                @item.OrderTime
                                            </div>
                                        </div>
                                    </a>
                                }
                                <a href="~/Order/OrderList?Option=FromNotify&OrderStatus=Booked" class="kt-notification__item">
                                    <div class="kt-notification__item-details">
                                        <div class="kt-notification__item-title">
                                            <span class="btn btn-label-primary btn-sm btn-bold btn-font-md">--View More--</span>
                                        </div>
                                    </div>
                                </a>
                            }
                            else
                            {
                                <div class="kt-grid__item kt-grid__item--middle kt-align-center">
                                    All caught up!
                                    <br>No New Booked Orders.
                                </div>
                            }

                        </div>
                    </div>
                }




                <div class="tab-pane" id="topbar_notifications_events" role="tabpanel">
                    <div class="kt-notification kt-margin-t-10 kt-margin-b-10 kt-scroll" data-scroll="true" data-height="300" data-mobile-height="200">
                        @if (Model.DeliveredOrderList.Count != 0)
                                    {
                                        foreach (var item in Model.DeliveredOrderList)
                                        {
                                <a href="~/Order/OrderList?OrderID=@item.OrderID&OrderStatus=@item.OrderStatus" class="kt-notification__item">
                                    <div class="kt-notification__item-icon">
                                        <i class="flaticon2-psd kt-font-success"></i>
                                    </div>
                                    <div class="kt-notification__item-details">
                                        <div class="kt-notification__item-title">
                                            @item.OrderInvoiceNumber
                                        </div>
                                        <div class="kt-notification__item-time">
                                            @item.OrderDeliverdOn
                                        </div>
                                    </div>
                                </a>
                            }
                            <a href="~/Order/OrderList?Option=FromNotify&OrderStatus=Delivered" class="kt-notification__item">                              
                                <div class="kt-notification__item-details">
                                    <div class="kt-notification__item-title">
                                        <span class="btn btn-label-primary btn-sm btn-bold btn-font-md">--View More--</span>
                                    </div>
                                </div>
                            </a>
                        }
                        else
                        {
                            <div class="kt-grid__item kt-grid__item--middle kt-align-center">
                                All caught up!
                                <br>No New Delivered Orders.
                            </div>
                        }
                    </div>
                </div>


                @*<div class="tab-pane" id="topbar_notifications_logs" role="tabpanel">
                        <div class="kt-notification kt-margin-t-10 kt-margin-b-10 kt-scroll" data-scroll="true" data-height="300" data-mobile-height="200">
                            @if (CancelledOrders != null)
                            {
                                foreach (var item in CancelledOrders)
                                {
                                    <a href="#" class="kt-notification__item">
                                        <div class="kt-notification__item-icon">
                                            <i class="flaticon2-psd kt-font-success"></i>
                                        </div>
                                        <div class="kt-notification__item-details">
                                            <div class="kt-notification__item-title">
                                                @item.OrderInvoiceNumber
                                            </div>
                                            <div class="kt-notification__item-time">
                                                @item.CreatedOn
                                            </div>
                                        </div>
                                    </a>
                                }
                            }
                            else
                            {
                                <div class="kt-grid kt-grid--hor kt-grid__item kt-grid__item--fluid kt-grid__item--middle">
                                    <div class="kt-grid__item kt-grid__item--middle kt-align-center">
                                        All caught up!
                                        <br>No Cancelled Orders.
                                    </div>
                                </div>
                            }


                        </div>
                    </div>*@
            </div>
        </form>
    </div>
</div>
<!--end: Notifications -->
@*<script>
      $(document).ready(function () {

        @Html.Raw(TempData["Status"])
    });
</script>*@