﻿

@{
    ViewBag.Title = "Home";
    Layout = null;
}
<link rel="stylesheet" href="~/Tacodecasa/assets/plugins/bootstrap/dist/css/bootstrap.min.css" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
<script src="~/Scripts/vue.min.js"></script>
<script src="~/Scripts/axios.js"></script>

<script src="~/Scripts/pagination.js"></script>
<style>
    .ui-menu .ui-menu-item-wrapper {
        position: relative;
        /*  padding: 12px 1em 18px .4em !important;
       font-family: "Oswald",sans-serif !important;*/
        display: block !important;
        padding-left: 50px !important;
    }

    .ui-autocomplete-input {
        position: relative;
        /* padding: 12px 1em 18px .4em !important;
        font-family: "Oswald",sans-serif !important;*/
        display: block !important;
        padding-left: 25px !important;
    }

    #ui-id-2 .ui-menu-item-wrapper:before {
        content: '';
        content: "\f0f5" !important; /* this is your text. You can also use UTF-8 character codes as I do here */
        font-family: FontAwesome;
        font-size: 18px;
        color: #e32b2f !important;
        position: absolute;
        width: 50px;
        height: 50px;
        margin-left: -30px;
    }

    .ui-menu .ui-menu-item-wrapper:before {
        content: '';
        content: "\f041"; /* this is your text. You can also use UTF-8 character codes as I do here */
        font-family: FontAwesome;
        font-size: 18px;
        color: #e32b2f !important;
        position: absolute;
        width: 50px;
        height: 50px;
        margin-left: -30px;
    }

    #back a:hover, .nav-main > li > a:focus {
        color: #fcd04f !important;
    }

    .check-group {
        display: block;
        margin-bottom: 15px;
    }

        .check-group input {
            padding: 0;
            height: initial;
            width: initial;
            margin-bottom: 0;
            display: none;
            cursor: pointer;
        }

        .check-group label {
            position: relative;
            cursor: pointer;
        }

            .check-group label:before {
                content: '';
                -webkit-appearance: none;
                background-color: transparent;
                border: 2px solid #fcd04f;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
                padding: 10px;
                display: inline-block;
                position: relative;
                vertical-align: middle;
                cursor: pointer;
                margin-right: 5px;
            }

        .check-group input:checked + label:after {
            content: '';
            display: block;
            position: absolute;
            top: 2px;
            left: 9px;
            width: 6px;
            height: 14px;
            border: solid #fcd04f;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }

    #PName {
        height: 20px !important;
    }

    @@media screen and (min-width:768px) {
        #menu-navigation {
            display: block !important;
        }

        #ProductCat {
            display: none;
        }
    }

    @@media screen and (max-width:767px) {
        .MobileDiv {
            padding-right: 0px;
            padding-left: 0px;
        }
    }

    @@media screen and (max-width:485px) {
        .col-6 {
            padding: 0;
            padding-right: 5px;
            padding-left: 5px;
        }
    }


    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label {
            position: relative;
            padding-left: 28px;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            color: #666;
        }

            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 18px;
                height: 18px;
                border: 1px solid #ddd;
                border-radius: 100%;
                background: #fff;
            }

            [type="radio"]:checked + label:after,
            [type="radio"]:not(:checked) + label:after {
                content: '';
                width: 12px;
                height: 12px;
                background: #e32b2f;
                position: absolute;
                top: 4px;
                left: 4px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }

            [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }

            [type="radio"]:checked + label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }

    .crd:hover {
        background: white;
        box-shadow: 2px 10px 12px #888888;
    }

    .menu-grid-item {
        line-height: 1.2;
        padding-bottom: 20px;
        margin-bottom: 1.5rem;
    }

    .ui-widget-content {
        max-height: 270px;
        overflow: scroll;
        overflow-x: hidden;
        box-shadow: 2px 8px 18px #888888;
    }

    .nav-main ul {
        list-style: none;
        padding: 5px;
        margin: 0;
        line-height: 1.5;
        width: 210px;
        background-color: #fff;
    }

    #SearchBranch:focus {
        box-shadow: 2px 8px 18px #888888;
    }

    #SearchProduct:focus {
        box-shadow: 2px 8px 18px #888888;
    }

    .panel-details {
        background: #f7f7f7;
        padding: 0px 11px;
    }

    .heading > a {
        color: #898989 !important;
        top: 0em !important;
        margin-right: 25px !important;
    }

    .bg-dark li:hover {
        cursor: pointer !important;
    }
</style>

<!-- Content -->
<br />

<!-- Page Content -->
<div class="page-content">

    <div class="container">

        <div class="row no-gutters">
            <div class="col-md-12" id="ProductsCategory">
                <!-- Menu Navigation -->
                <button id="ProductCat" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#menu-navigation" style="margin-bottom:15px;width: 100%;"><span style="letter-spacing:1px;">MENU CATEGORIES&nbsp;&nbsp;</span><i class="fa fa-plus"></i></button>
                <nav id="menu-navigation" class="stick-to-content collapse" data-local-scroll>
                    <ul class="nav nav-menu bg-dark dark ">
                        <li style="margin-right:20px;" v-for="Category in MyProductsCategoryList"><a v-on:click.stop="LoadCategoryproducts($event,Category.ProductCategoryID)">{{Category.ProductCategoryName}}</a><br /></li>
                        @*v-bind:href="'#'+Category.ProductCategoryName">{{Category.ProductCategoryName}}</a></li>*@
                    </ul>
                </nav>
                <br />
                <br />
            </div>

            <div class="col-md-9" id="Products" style="min-height:580px;">


                <div class="menu-category-content padded">
                    <div class="row gutters-sm" style="margin:0px;">

                        <div class="col-md-4 MobileDiv" style="margin-bottom:20px;">
                            @*<input type="text"   name="SearchBranch"  id="SearchBranch" value="@BranchName" class="" placeholder="SEARCH LOCATION HERE...">*@
                            <input type="text" name="SearchBranch" class="form-control " value="ABU DHABI AIRPORT" placeholder="SEARCH LOCATION HERE..." />
                            <input type="hidden" id="BranchIDf" name="BranchIDf" value="31" />
                        </div>
                        <div class="col-md-4 MobileDiv" style="margin-bottom:20px;">
                            <input type="text" id="SearchProduct" name="SearchProduct" class="form-control " placeholder="SEARCH PRODUCT HERE... " oninput="SearchProduct(this.value);">
                        </div>

                        <div class="col-md-4 " style="margin-bottom:20px;">

                            @*<a onclick="MenuLoad(event);"><span> BACK TO MENU</span></a>*@
                            <button onclick="MenuLoad(event);" class="btn btn-primary btn-sm" style="float:right"><i class="fa fa-bars" style="top:0px;"></i>&nbsp;&nbsp;<span style="letter-spacing:1px;">LIST ALL</span></button>
                        </div>

                        <div class="col-lg-4 col-6 " v-for="product in MyProducts">

                            <!-- Menu Item -->
                            <div class="menu-item menu-grid-item crd ">

                                <img class="mb-4" v-if="product.IsStockCompleted == true" v-bind:src="'/Images/ItemImages/' + product.ProductImage" alt="" @@error="imgUrlAlt" style="   opacity: 0.5;
  filter: alpha(opacity=50);">
                                <img class="mb-4" v-else v-bind:src="'/Images/ItemImages/' + product.ProductImage" alt="" @@error="imgUrlAlt">

                                <h6 align="center" class="mb-0" id="PName">{{product.ProductName}}</h6>
                                @*<span class="text-muted text-sm">{{product.ProductDescription}}</span>*@
                                <div align="center" class="row align-items-center mt-4">
                                    <div class="col-md-6 col-sm-12"><span class="text-md mr-4"><span class="text-muted"></span> AED {{product.SellingPrice}}</span></div>
                                    <div v-if="product.IsStockCompleted == true" class="col-md-6 col-sm-12 text-sm-right mt-2 mt-sm-0" id="example-2">

                                        <button class="btn btn-primary btn-sm" style="background-color:#e32b2f;border:none"><span>OUT OF STOCK</span></button>

                                    </div>
                                    <div v-else class="col-md-6 col-sm-12 text-sm-right mt-2 mt-sm-0" id="example-2">

                                        <button v-on:click="AddToCartBtnClick($event,product.ProductID,product.ProductCategoryIDf)" class="btn btn-outline-secondary btn-sm"><span>Add to cart</span></button>

                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>

                </div>
                @*Here is the pagination works.There will be an external file in Scripts Folder named "pagination.js"*@

                <pagination :total="totalPages" :current="currentPage"
                            :max-visible="maxVisible" :callback="paginationCallback"></pagination>


            </div>
        </div>
    </div>
</div>


<style>
    @@media (min-width: 576px) {
        .Registerduser {
            max-width: 700px !important;
        }
    }

    .close {
        opacity: 1;
    }

    .content-details h3 {
        color: #fff;
        font-weight: bold;
        letter-spacing: 0.10em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
    }

    .content-details p {
        color: #fff;
        font-size: 20px;
    }

    .content-image {
        width: 100%;
    }

    .content-overlay {
        background: rgba(0,0,0,0.7);
        position: absolute;
        height: 99%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0.75;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }

    .content-details {
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

    .content {
        position: relative;
        width: 90%;
        max-width: 400px;
        margin: auto;
        overflow: hidden;
    }

    .contentRegisterd {
        position: relative;
        width: 100%;
        margin: auto;
        overflow: hidden;
    }
</style>


<!-- JS AutoComplete Plugins -->
<link href="~/Scripts/JqueryAutoComplete/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/JqueryAutoComplete/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<style>
    .btnsuccess {
        background: #4aa36b;
        color: #fff;
    }
</style>

<script>
    //Autocomplete Model
    $(function () {

        //branch autocomplete
        //this line reset when search column change
        $("#SearchBranch").keydown(function (e) {
            //
            var code = e.keyCode || e.which;

            if (code == 8 || code == 46) { // clear when back button or delete button clicked
                $("#BranchIDf").val('');
            }
            if (code == 13) { //Enter keycode
                //Do something
                $("#SearchBranch").focus();
                $("#SearchBranch").select();
            }
        });


        $("#SearchBranch").autocomplete({

            source: function (request, response) {
                //
                $.ajax({
                    url: '../Home/BranchIDAutoComplete',
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        //
                        response($.map(data, function (el) {
                            return {
                                label: el.label,
                                value: el.value
                            };
                        }));

                        // response(data);
                    }
                });
            },
            focus: function (event, ui) {
                event.preventDefault();
                $(this).append(ui.item.label);
                //



            },
            select: function (event, ui) {


                var CartCount = $("#CartCount").html();
                if (CartCount != "0" && CartCount != "") {
                    $.confirm({
                        title: 'Warning!!',
                        content: '<label>There are items in your cart.Do you want to clear your cart??</label>',
                        buttons: {
                            Yes: {
                                btnClass: 'btnsuccess',
                                action: function () {
                                    var label = ui.item.label;
                                    $("#SearchBranch").val(label);

                                    var value = ui.item.value;
                                    $("#BranchIDf").val(value);

                                    $.ajax({
                                        url: '../Home/ResetLocationID?BranchID=' + value,
                                        dataType: "json",
                                        success: function (data) {
                                            //
                                            if (data.Type == 'danger') {

                                                var url = '../Home/StartUp?Message=' + data.Message + '&Type=' + data.Type;
                                                window.location = url;
                                                window.location.replace(url);

                                            }
                                            else {
                                                example2.CategoryID = 0;
                                                example2.ProductsloadData(0, '');
                                                ProductCategoryList.loadData();

                                                v.RefreshCart();
                                            }


                                        }
                                    });

                                }
                            },
                            Cancel: {
                                btnClass: 'btn-default',
                                action: function () {
                                    example2.CategoryID = 0;
                                    example2.ProductsloadData(0, '');
                                    ProductCategoryList.loadData();

                                    $("#SearchBranch").val("ABU DHABI AIRPORT");

                                    var value = ui.item.value;
                                    $("#BranchIDf").val(34);
                                    //
                                    // v.RefreshCart();

                                }
                            }
                        }
                    });
                }
                else {
                    var label = ui.item.label;
                    $("#SearchBranch").val(label);

                    var value = ui.item.value;
                    $("#BranchIDf").val(value);
                    $.ajax({
                        url: '../Home/ResetLocationID?BranchID=' + value + '&&CartCount=' + CartCount,
                        dataType: "json",
                        success: function (data) {
                            //
                            if (data.Type == 'danger') {

                                var url = '../Home/StartUp?Message=' + data.Message + '&Type=' + data.Type;
                                window.location = url;
                                window.location.replace(url);

                            }
                            else {
                                example2.CategoryID = 0;
                                example2.ProductsloadData(0, '');
                                ProductCategoryList.loadData();

                            }


                        }
                    });
                }




                return false;
            },

            minLength: 0
        });

    });
</script>


<script>


    var example2 = new Vue({
        el: '#Products',

        data: {

            MyProducts: [],
            CategoryID: 0,
            SearchKey: '',
            maxVisible: 5, ///pagination variables
            totalPages: 0, ///pagination variables
            currentPage: 1,///pagination variables
            totalProductsCount: 0,
            start: 0,///pagination variables
            end: 15,///pagination variables
            IsProductsExists: false


        },
        beforeMount() {
            //Same as mounted only call intialization difference
        },
        mounted: function () {

            var End = 0; var Mulitplied = 0;
            var width = $(window).width();
            var height = $(window).height();
            //window.mobilecheck = function () {
            //    var check = false;
            //    (function (a) { if (/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a) || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0, 4))) check = true; })(navigator.userAgent || navigator.vendor || window.opera);
            //    return check;
            //};
            //if (window.mobilecheck == true) {
            //    End = 10;
            //}
            //else {
            //    End = 15;

            //}
            if (width <= 767) {
                End = 10;
            }
            else {
                End = 15;

            }
            this.end = End;
            this.ProductsloadData();

        },
        methods: {
            ProductsloadData: function (SelectCategoryID, term) {

                if (SelectCategoryID != null && SelectCategoryID != 0) {
                    this.CategoryID = SelectCategoryID;
                }
                if (term != null && term != 0) {
                    this.SearchKey = term;
                }

                // UPDATED TO GET DATA FROM WEB API
                axios.get('/Home/GetProductList?CategoryID=' + this.CategoryID + '&SearchKey=' + this.SearchKey, {
                    params: {
                        start: this.start,
                        end: this.end,
                    }
                }).then(response => {

                    console.log(response);
                    this.MyProducts = response.data.ProductDetailsData;
                    if (this.MyProducts.length != 0) {
                        this.totalProductsCount = response.data.ProductDetailsData[0].TotalCount;
                        this.IsProductsExists = true;
                    }
                    else {
                        this.IsProductsExists = false;
                    }
                    if (this.totalProductsCount <= this.end) {
                        ///pagination variables
                        this.totalPages = 1;
                    }
                    else {
                        ///pagination variables
                        this.totalPages = this.totalProductsCount / this.end;
                    }
                })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            ///pagination function
            paginationCallback: function (page) {
                if (page == 1) {

                    this.start = 0;
                    this.end = this.end;
                }
                else {
                    this.start = (this.end * page) - (this.end - 1);
                    this.end = this.end;

                }
                this.currentPage = page;
                this.ProductsloadData(0, 0)
                //alert("Showing page " + this.currentPage);
            },

            AddToCartBtnClick: function (event, ProductID, ProductCategoryIDf) {

                //
                // v.AddToCart(ProductID);
                if (ProductCategoryIDf == 14) {
                    productAdditionsComboModal.loadAdditionsData(ProductID)
                }
                else {
                    ProductAdditionsList.loadAdditionsData(ProductID);
                }
                if (event) {
                    ///
                    // Notification('success', 'success');
                    // alert('success');


                }
            },
            imgUrlAlt: function (event) {
                event.target.src = "/Images/NoImageProduct.jpg";
            }


        }
    })


    var ProductCategoryList = new Vue({

        el: '#ProductsCategory',

        data: {
            MyProductsCategoryList: []
        },
        beforeMount() {
            //Same as mounted only call intialization difference
        },
        mounted: function () {
            this.loadData()
        },
        methods: {
            loadData: function () {

                // UPDATED TO GET DATA FROM WEB API
                axios.get('/Home/GetProductCategoryList')
                    .then(response => {
                        console.log(response);
                        //
                        this.MyProductsCategoryList = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            LoadCategoryproducts: function (event, CategoryID) {
                //

                //if (CategoryID == 14) {
                //    $("#productAdditionsComboModal").modal("show");
                //}
                Collapse();
                example2.ProductsloadData(CategoryID);
            }



        }
    })




    function Notification(Message, Type) {

        return $.notify({ message: Message }, { allow_dismiss: true, type: Type, placement: { from: 'top', delay: 600, align: 'center' } });
    }
    function Collapse() {
        //
        if ($('#ProductCat').css('display') != 'none') {
            $("#ProductCat").click();
        }
    }

    function SearchProduct(term) {
        debugger;
        //
        if (term == '') {
            example2.SearchKey = '';
        }
        example2.start = 0;
        example2.paginationCallback(1);
        example2.ProductsloadData(0, term);
    }
    function MenuLoad(event) {
        debugger;
        event.stopPropagation();
        example2.CategoryID = 0;
        $("#SearchProduct").val('');
        example2.SearchKey = '';
        example2.start = 0;
        example2.paginationCallback(1);
        example2.ProductsloadData(0, '');
    }

</script>


