﻿﻿﻿@model TacoTicassa.Controllers.HomeController.BranchSearch
@{ Layout = null;}
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Home";
}
@{
    var CheckUserID = "";
    if (Request.Cookies[Common.LoginCookieName] != null)
    {
        CheckUserID = Request.Cookies[Common.LoginCookieName].Value;
    }
    var LoginDetails = Common.GetLogInDetails(CheckUserID);
    int BranchId = 0;
    string BranchName = "";
    if (Request.Cookies["LocationID"] != null)
    {

        int LocationID = Convert.ToInt32(Request.Cookies["LocationID"].Value);
        var locationinfo = Common.GetCurrentLocation(LocationID);
        BranchId = locationinfo.LocationID;
        BranchName = locationinfo.LocationName;
    }
    string Message = Request.Params["Message"];
    string Type = Request.Params["Type"];

}
<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from themes.suelo.pl/soup/page-services.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 06 May 2019 09:57:31 GMT -->
<head>
    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Title -->
    <title>Taco De Casa</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="@Url.ContentVersioned("~/Images/favicon1.ico")">
    <link rel="apple-touch-icon" href="~/Images/favicon1.ico">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Images/favicon1.ico">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Images/favicon1.ico">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Images/favicon1.ico">
    <!-- CSS Plugins -->
    <link rel="stylesheet" href="~/UserTempTemplate/assets/plugins/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/UserTempTemplate/assets/plugins/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="~/UserTempTemplate/assets/plugins/animate.css/animate.min.css" />
    <link rel="stylesheet" href="~/UserTempTemplate/assets/plugins/animsition/dist/css/animsition.min.css" />
    <!-- CSS Icons -->
    <link rel="stylesheet" href="~/UserTempTemplate/assets/css/themify-icons.css" />
    <link rel="stylesheet" href="~/UserTempTemplate/assets/plugins/font-awesome/css/font-awesome.min.css" />
    <!-- CSS Theme -->
    <link id="theme" rel="stylesheet" href="~/UserTempTemplate/assets/css/themes/theme-beige.min.css" />
    <script src="~/UserTempTemplate/assets/plugins/jquery/dist/jquery.min.js"></script>

    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>*@
    <style>
        #footer .footer-second-row {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    </style>
    <script>

        (function ($) {
            $.fn.easyTabs = function (option) {
                var param = jQuery.extend({ fadeSpeed: "fast", defaultContent: 1, activeClass: 'active' }, option); $(this).each(function () {
                    var thisId = "#" + this.id; if (param.defaultContent == '') { param.defaultContent = 1; }
                    if (typeof param.defaultContent == "number") { var defaultTab = $(thisId + " .tabs li:eq(" + (param.defaultContent - 1) + ") a").attr('href').substr(1); } else { var defaultTab = param.defaultContent; }
                    $(thisId + " .tabs li a").each(function () { var tabToHide = $(this).attr('href').substr(1); $("#" + tabToHide).addClass('easytabs-tab-content'); }); hideAll(); changeContent(defaultTab); function hideAll() { $(thisId + " .easytabs-tab-content").hide(); }
                    function changeContent(tabId) {
                        hideAll(); $(thisId + " .tabs li").removeClass(param.activeClass); $(thisId + " .tabs li a[href=#" + tabId + "]").closest('li').addClass(param.activeClass); if (param.fadeSpeed != "none") { $(thisId + " #" + tabId).fadeIn(param.fadeSpeed); } else { $(thisId + " #" + tabId).show(); }
                    }
                    $(thisId + " .tabs li").click(function () { var tabId = $(this).find('a').attr('href').substr(1); changeContent(tabId); return false; });
                });
            }
        })(jQuery);
    </script>


    <link rel="stylesheet" href="~/Albetron/stylesheet.css" type="text/css" charset="utf-8" />
    <style type="text/css">

        body {
            font-family: 'aileronregular' !important;
        }

        button, input, a {
            font-family: 'aileronregular' !important;
        }

        .bg-dark {
            background-color: #E32B2D !important;
        }
    </style>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.7/bootstrap-notify.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.7/bootstrap-notify.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")*@
    <!--  Notifications Plugin    -->
    @*<script src="~/Scripts/bootstrap-notify.js"></script>*@

    <style>
        .ui-menu .ui-menu-item-wrapper:before {
            content: '';
            content: "\f041";
            font-family: FontAwesome;
            font-size: 18px;
            color: #E32B2D;
            position: absolute;
            width: 50px;
            height: 50px;
            margin-left: -30px;
        }

        ::selection {
            background: #E32B2D;
            color: #fff;
        }

        .btn-outline-primary:before {
            background-color: #E32B2D !important;
        }

        .btn-outline-primary {
            border-color: #E32B2D !important;
        }

        .icon.icon-primary {
            color: white !important;
        }

        .section-double > .row {
            /*height: 30vw !important;*/
        }

        ::selection {
            background: #cd5c5c !important;
        }

        .form-control:focus {
            border-color: #cd5c5c !important;
        }



        #spin:after {
            content: "";
            animation: spin 5s linear infinite;
        }


        @@keyframes spin {
            0% {
                content: "Are You Hungry??";
            }

            50% {
                content: "We are near you...";
            }

            100% {
                content: "Choose Location";
            }
        }

        @@media only screen and (max-width: 991px) {
            #content {
                margin-top: 10px !important;
            }
        }


        .section-double > .row > .content {
            padding: 0rem 6% !important;
            padding-bottom: 50px !important;
        }

        .field-validation-error {
            color: #fd27eb !important;
            font-family: Poppins !important;
        }

        .alert-success {
            color: #fff !important;
            background-color: #309B42 !important;
            border-color: #309B42 !important;
            font-weight: 400;
        }

        .alert-danger {
            color: #fff !important;
            background-color: #D22730 !important;
            border-color: #D22730 !important;
            font-weight: 400;
        }

        .alert-warning {
            color: #fff !important;
            background-color: #F3D54E !important;
            border-color: #F3D54E !important;
            font-weight: 400;
        }

        .close {
            color: #fff !important;
            text-shadow: 0 1px 0 #4aa36b;
            background-color: none !important;
        }

            .close span {
                background-color: #4aa36b !important;
            }



        @@font-face {
            font-family: 'kenyan coffee bd it';
            src: url('../Tacodecasa/kenyan_coffee/kenyan coffee bd it.ttf') format('truetype');
        }

        html {
            font-family: 'kenyan coffee bd it' !important;
        }

        .ui-widget.ui-widget-content {
            border: 1px solid #c5c5c5;
            max-height: 270px;
            overflow: scroll;
            overflow-x: hidden;
        }

        /*.ui-menu.ui-menu-item:hover {
            color: white !important;
            background: #E32B2D !important
        }*/
        .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
            background: #3e863a !important;
            font-weight: normal;
            color: #fff !important;
        }

        .btn-outline-primary:hover {
            color: #fff !important;
        }

        .nav-main > li > a {
            line-height: 45px;
            padding: 7px;
            color: #3e863a;
            border: 2px solid #3e863a;
            vertical-align: top;
        }

            .nav-main > li > a:hover, .nav-main > li > a:focus {
                color: #D22730;
                border: 2px solid #D22730;
            }

        @@media only screen and (max-width: 767px) {
            .module {
                /*margin-top: -68px;*/
            }
        }

        @@media only screen and (min-width: 768) {
            .module {
                margin-top: 0;
            }
        }
        .logo-icon-ul {
            display:inline;
        }
        .logo-icon-ul li:first-child {
            /*margin-right:1%;*/
            width:fit-content !important;
            float:left !important;
        }

        @@media only screen and (device-width: 768px) {
        /* For general iPad layouts */
            .only-ipad-col-md-8 {
                width:100%;
                min-width: 100%;
            }
            .only-ipad-pull-right {
                float:right;
            }
            .only-ipad-col-md-4 {
                min-width:100%;
            }
            .nav-main > li:not(:last-child) {
                margin-right: 0px !important;
            }
        }
        .no-right-margin {
            margin-right:0px !important;
        }
        .only-ipad-col-md-4 {
            padding-top:2%;
        }
    </style>
</head>
<body>
    <!-- Body Wrapper -->
    <div id="body-wrapper" class="animsition">

        <!-- Content -->
        <div id="content">

            <!-- Section -->
            <section class="section section-double">
                <div class="row no-gutters">
                    <div class="content col-xl-7 col-md-7">
                        <div class="row">
                            <div class="col-xl-8 col-md-8 only-ipad-col-md-8">
                                <ul style="list-style:none" class="logo-icon-ul">
                                    <li><img src="@Url.ContentVersioned("~/Images/logo.png")" alt="" width="98"></li>
                                    <li id="LoginInfoUpdate">
                                        <a target="_blank" style="color: none;border: none;float:right;max-width: 95px;margin-left:5px" href="https://play.google.com/store/apps/details?id=com.onlineitsolutions.tacodecasa&hl=en"><img src="~/Images/GoogelPlayStore.png" /></a>
                                        &nbsp;&nbsp;
                                        <a target="_blank" style="color: none;border: none;float:right;max-width: 95px;" href="https://apps.apple.com/us/app/taco-decasa/id1497436814#?platform=iphone"><img src="~/Images/AppleAppStore.png" style="max-height:30px" /></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xl-4 col-md-4 only-ipad-col-md-4">
                                <nav class="module module-navigation left mr-8" style="float:right;">
                                    <ul id="nav-main" class="nav nav-main">
                                        <li id="LoginInfoUpdate" class="no-right-margin">

                                            @if (LoginDetails != null)
                                            {

                                                <span style="margin-left: 15px;">Welcome @LoginDetails.FullName !!</span>

                                            }
                                            else
                                            {
                                                <a href="#LoginModal" data-toggle="modal" onclick="ShowLogin();">Sign In</a>
                                            }
                                        </li>

                                        
                                        <br />

                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <h2 style="font-size: 3rem;font-weight: bold;"><span id="spin"></span></h2>
                        <p class="lead text-muted" style="text-align:justify">
                            Taco De Casa, is a tex mex restaurant made with the tastiest of ingredients. We have a full menu including appetizers and main dishes. It is packed full of flavor to really tantalize your taste buds. Whether you are looking for a tasty treat or a light bite, taco De Casa is the place to be.
                        </p>

                        <form id="SearchBranchForm" action="@Url.Action("StartUp","Home")" method="post">
                            <div class="form-group row">

                                <div class="col-8">
                                    <input type="text" id="SearchBranch" name="SearchBranch" class="form-control" placeholder="Search Your Location" />
                                    <span id="" style="color: #E32B2D;position: inherit;top: -30px;right: 15px;float: right;"><a href="#" id="AutoDrop"><i class="fa fa-chevron-down " aria-hidden="true"></i></a></span>
                                    <input type="text" id="BranchIDf" name="BranchIDf" style="position:fixed;top:-100px;" class="form-control" />

                                </div>
                                <button id="SearchLocation" type="submit" style="padding:0rem 0rem 0rem 0rem !important;height: 48px;" class="col-3 btn btn-outline-primary btn-lg"><span>Search</span></button>
                            </div>
                            @Html.ValidationMessageFor(x => x.BranchIDf)
                        </form>

                    </div>
                    <div class="image col-xl-5 col-md-5">
                        <div class="bg-image"><img src="~/Images/StartUpImg.jpg" alt=""></div>
                    </div>
                </div>
            </section>


            <!-- Footer -->
            <footer id="footer" class="bg-dark dark">

                <div class="container" style="padding-top:2.5rem;padding-bottom:2.5rem">
                    <div class="row">
                        <div class="col-md-4">
                            <!-- Step -->
                            <div class="feature feature-1">
                                <div class="feature-icon icon icon-primary"><i class="ti ti-shopping-cart"></i></div>
                                <div class="feature-content">
                                    <h4 class="mb-2">Pick a dish</h4>
                                    <p class="text-muted mb-0">Pick dishes from our menu.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- Step -->
                            <div class="feature feature-1">
                                <div class="feature-icon icon icon-primary"><i class="ti ti-wallet"></i></div>
                                <div class="feature-content">
                                    <h4 class="mb-2">Make a payment</h4>
                                    <p class="text-muted mb-0">You can make payment via Cash or Card.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- Step -->
                            <div class="feature feature-1">
                                <div class="feature-icon icon icon-primary"><i class="ti ti-package"></i></div>
                                <div class="feature-content">
                                    <h4 class="mb-2">Recieve your food!</h4>
                                    <p class="text-muted mb-3">Get your order at doorstep in least time.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-second-row">
                    <span class="text-muted">&nbsp; &nbsp;&nbsp; Copyright 2020 ©.</span> &nbsp;&nbsp; <a href="/Home/TermsAndConditions/">Terms and Conditions</a>
                </div>
                <!-- Back To Top -->
                <a href="#" id="back-to-top"><i class="ti ti-angle-up"></i></a>
            </footer>
            <!-- Footer / End -->
        </div>


        <div id="body-overlay"></div>
    </div>


    <!--begin: Login Modal-->
    <div class="modal fade" id="LoginModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">


                <div class="modal-body panel-details-container">
                    <!-- Panel Details / Size -->
                    @*<div class="panel-details">
                            <iframe id="LoginIFrame" src="" style="width:100%;height:500px;border:none"></iframe>
                        </div>*@
                    <iframe id="LoginIFrame" src="" style="width:100%;height:500px;border:none"></iframe>

                </div>

            </div>
        </div>
    </div>

    <!-- JS Plugins -->
    <link href="~/Scripts/JqueryAutoComplete/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/JqueryAutoComplete/jquery-ui.min.js"></script>


    <script>
        //Autocomplete Model
        $(function () {
            $('#AutoDrop').click(function (e) {
                //debugger;
                e.preventDefault();
                $('input#SearchBranch').autocomplete("search");
            });
            //debugger;

            //this line reset when search column change
            $("#SearchBranch").keydown(function (e) {
                //debugger;
                var code = e.keyCode || e.which;

                if (code == 8 || code == 46) { // clear when back button or delete button clicked
                    $("#BranchIDf").val('');
                }
                if (code == 13) { //Enter keycode
                    //Do something
                    $("#SearchBranch").focus();
                    $("#SearchBranch").select();
                }
            });



            $("#SearchBranch").autocomplete({
                source: function (request, response) {
                    //debugger;
                    $.ajax({
                        url: '../Home/BranchIDAutoComplete',
                        dataType: "json",
                        data: { term: request.term },
                        success: function (data) {
                            //debugger;
                            response($.map(data, function (el) {
                                return {
                                    label: el.label,
                                    value: el.value
                                };
                            }));

                            // response(data);
                        }
                    });
                },
                focus: function (event, ui) {
                    //debugger;
                    event.preventDefault();
                    $(this).append(ui.item.label);
                },
                select: function (event, ui) {
                    //debugger;
                    var label = ui.item.label;
                    $("#SearchBranch").val(label);

                    var value = ui.item.value;
                    $("#BranchIDf").val(value);



                    return false;
                },

                minLength: 0
            });

        });
    </script>

    <script>
        function ShowLogin() {
        ////debugger;
        var LoginUserId = '@User.Identity.GetUserId()';
        if (LoginUserId != null && LoginUserId != '') {
            location.replace('../Home/StartUp');
        }
        else {
            $("#LoginModal").modal("show");
            $("#LoginIFrame").attr('src', '../User/UserLogin');
        }


    }
        function SignUpRedirection(Message, Type,PageFrom,Username) {
        ////debugger;
        $("#LoginModal").modal("hide");


        // $.notify({ message: Message }, { allow_dismiss: true, type: Type, placement: { from: 'top', align: 'right' } });
        var BranchID = $("#BranchIDf").val();
       // alert(Message + '-' + Type);
        NotificationFor(Message, Type)
            if (Type == 'success') {
                $("#LoginInfoUpdate").html('');
                $("#LoginInfoUpdate").append('<text>Welcome ' + Username + ' !! </text>')
                if (BranchID != 0 && BranchID != null) {

                    document.getElementById('SearchLocation').click();
                }

        }
    }
    </script>
    <style>
        .ui-menu .ui-menu-item-wrapper {
            position: relative;
            padding: 12px 1em 18px .4em !important;
            font-family: "Oswald",sans-serif !important;
            display: block !important;
            padding-left: 50px !important;
        }
    </style>
    @*<script src="~/UserTempTemplate/assets/plugins/jquery/dist/jquery.min.js"></script>*@
    <script src="~/UserTempTemplate/assets/plugins/tether/dist/js/tether.min.js"></script>
    <script src="~/UserTempTemplate/assets/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/UserTempTemplate/assets/plugins/slick-carousel/slick/slick.min.js"></script>
    <script src="~/UserTempTemplate/assets/plugins/jquery.appear/jquery.appear.js"></script>
    <script src="~/UserTempTemplate/assets/plugins/jquery.scrollto/jquery.scrollTo.min.js"></script>
    <script src="~/UserTempTemplate/assets/plugins/jquery.localscroll/jquery.localScroll.min.js"></script>
    <script src="~/UserTempTemplate/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/UserTempTemplate/assets/plugins/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.min.js"></script>
    <script src="~/UserTempTemplate/assets/plugins/twitter-fetcher/js/twitterFetcher_min.js"></script>
    <script src="~/UserTempTemplate/assets/plugins/skrollr/dist/skrollr.min.js"></script>
    <script src="~/UserTempTemplate/assets/plugins/animsition/dist/js/animsition.min.js"></script>
    <!-- JS Core -->
    <script src="~/UserTempTemplate/assets/js/core.js"></script>

    <script>

        function NotificationFor(Message, Type) {
            //debugger;
            if (Message != "") {
                return $.notify({ message: Message }, { allow_dismiss: true, type: Type, placement: { from: 'top', align: 'center' } });
            }
            }
        $(document).ready(function () {
            var Message = '@Message';
            var Type = '@Type';
            if (Message != null && Type != null) {
                NotificationFor(Message, Type);
            }

        @Html.Raw(TempData["Status"])
    });
    </script>
</body>

<!-- Mirrored from themes.suelo.pl/soup/page-services.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 06 May 2019 09:57:54 GMT -->
</html>
